<div class="col-20 mx-auto text-center m-t-5">
    <div class="row position-relative justify-content-sm-center">
        <div class="">
            <img src="{{ asset('build/images/about/line.png') }}" class="img-fluid line d-none d-md-block" alt=""/>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/about/ipn.png') }}" class="img-fluid  d-none d-md-block mx-auto" alt=""/>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/about/reconoce.png') }}" class="img-fluid  d-none d-md-block mx-auto" alt=""/>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/about/reconoce.png') }}" class="img-fluid  d-none d-md-block mx-auto" alt=""/>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/about/achievament.png') }}" class="img-fluid  d-none d-md-block mx-auto" alt=""/>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/about/achievament.png') }}" class="img-fluid  d-none d-md-block mx-auto" alt=""/>
        </div>
    </div>
    <div class="row icons m-t-4 justify-content-sm-center">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="row">
                <div class="col-md-22 mx-auto">
                    <img src="{{ asset('build/images/about/ipn.png') }}" class="img-fluid mb-3 d-md-none" alt=""/>
                    <h4>
                        IPN<br>
                        <span>
                            2012
                        </span>
                    </h4>
                    <p>
                        Lic. Médico Cirujano
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="row">
                <div class="col-md-22 mx-auto">
                    <img src="{{ asset('build/images/about/reconoce.png') }}" class="img-fluid mb-3 d-md-none" alt=""/>
                    <h4>
                        UNAM<br>
                        <span>
                            2018
                        </span>
                    </h4>
                    <p>
                        Especialidad en Traumatología y Ortopedia.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="row">
                <div class="col-md-22 mx-auto">
                    <img src="{{ asset('build/images/about/reconoce.png') }}" class="img-fluid mb-3 d-md-none" alt=""/>
                    <h4>
                        UNAM<br>
                        <span>
                            2019
                        </span>
                    </h4>
                    <p>
                        Posgrado Alta Especialidad en Artroscopia.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="row">
                <div class="col-md-22 mx-auto">
                    <img src="{{ asset('build/images/about/achievament.png') }}" class="img-fluid mb-3 d-md-none" alt=""/>
                    <h4>
                        CEMTRO<br>
                        <span>
                            2019
                        </span>
                    </h4>
                    <p>
                        Módulo de “Lesiones Deportivas”
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="row">
                <div class="col-md-22 mx-auto">
                    <img src="{{ asset('build/images/about/achievament.png') }}" class="img-fluid mb-3 d-md-none" alt=""/>
                    <h4>
                        CEMTRO<br>
                        <span>
                            2023
                        </span>
                    </h4>
                    <p>
                        Especialista en cirugía de mínima invasión en columna
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-20 mx-auto text-center m-t-5">
    <div class="row position-relative justify-content-sm-center">
        <div class="alt-line">
            <img src="{{ asset('build/images/about/line.png') }}" class="img-fluid line d-none d-md-block" alt=""/>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/about/achievament.png') }}" class="img-fluid  d-none d-md-block mx-auto" alt=""/>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/about/achievament.png') }}" class="img-fluid  d-none d-md-block mx-auto" alt=""/>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/about/reconoce.png') }}" class="img-fluid  d-none d-md-block mx-auto" alt=""/>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/about/achievament.png') }}" class="img-fluid  d-none d-md-block mx-auto" alt=""/>
        </div>
    </div>
    <div class="row icons m-t-4 justify-content-sm-center">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="row">
                <div class="col-md-22 mx-auto">
                    <img src="{{ asset('build/images/about/ipn.png') }}" class="img-fluid mb-3 d-md-none" alt=""/>
                    <h4>
                        FEMECOT
                    </h4>
                    <p>
                        Miembro de la Federación Mexicana de Colegios de Ortopedia y Traumatología
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="row">
                <div class="col-md-22 mx-auto">
                    <img src="{{ asset('build/images/about/reconoce.png') }}" class="img-fluid mb-3 d-md-none" alt=""/>
                    <h4>
                        CMO
                    </h4>
                    <p>
                        Miembro Titular del Colegio Mexicano de Ortopedia
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="row">
                <div class="col-md-22 mx-auto">
                    <img src="{{ asset('build/images/about/reconoce.png') }}" class="img-fluid mb-3 d-md-none" alt=""/>
                    <h4>
                        CMOT
                    </h4>
                    <p>
                        Certificado por el Consejo Mexicano de Ortopedia y Traumatología
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="row">
                <div class="col-md-22 mx-auto">
                    <img src="{{ asset('build/images/about/achievament.png') }}" class="img-fluid mb-3 d-md-none" alt=""/>
                    <h4>
                        AMECRA
                    </h4>
                    <p>
                        Miembro de la Asociacion Mexicana de Cirugia Reconstructiva Articular y Artroscopia
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-y-3">
        <div class="col-24">
            <a href="{{ path('contact') }}" class="btn btn-primary">
                Contáctame
            </a>
        </div>
    </div>
</div>
