{% extends 'base.html.twig' %}
{% block title %}Sobre el Doctor{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0  wrap-slider img-bg-light">
                <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                    <div class="slide position-relative">
                        <div class=' cont-tex  about  '>
                            <div class="txt-img">
                                <img src="{{ asset('build/images/about/ab-txt.png') }}" class="img-fluid" alt=""/>
                            </div>
                            <p class="txt-dr">
                                Ortopedista y traumatólogo, especialista en rodilla.
                            </p>
                            <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                                <a href='{{ path('service') }}' class='btn btn-lg btn-primary '>
                                    Ver servicios
                                </a>
                                <a href='{{ path('testimonials') }}' class='btn btn-lg btn-ser'>
                                    Nuestros clientes
                                </a>
                            </div>
                        </div>
                        <a href="https://www.doctoralia.com.mx/sergio-garcia-tenorio/ortopedista-traumatologo/coyoacan" target="_blank" class="agenda d-none d-xl-block">
                            <img src="{{ asset('build/images/about/agenda.png') }}" class="img-fluid" alt=""/>
                        </a>
                        <div class="about-cont d-none d-xl-block">
                            <a href="https://www.facebook.com/Traumatologia.DrGarcia/" target="_blank" class="row">
                                <div class="col-md-5 text-center">
                                    <img src="{{ asset('build/images/about/b-f.png') }}" class="img-fluid icon" alt=""/>
                                </div>
                                <div class="col-md-18 offset-md-1">
                                    <h4>
                                        Dr. Sergio García<br>
                                        <span>
                                            Facebook
                                        </span>
                                    </h4>
                                </div>
                            </a>
                            <a href="https://wa.me/5215611319233" target="_blank" class="row">
                                <div class="col-md-5 text-center">
                                    <img src="{{ asset('build/images/about/b-w.png') }}" class="img-fluid icon" alt=""/>
                                </div>
                                <div class="col-md-18 offset-md-1">
                                    <h4>
                                        56-1131-9233
                                        <br>
                                        <span>
                                            Whatsapp
                                        </span>
                                    </h4>
                                </div>
                            </a>
                            <a href="https://www.instagram.com/traumatologia.drgarcia/" target="_blank" class="row">
                                <div class="col-md-5 text-center">
                                    <img src="{{ asset('build/images/about/b-in.png') }}" class="img-fluid icon" alt=""/>
                                </div>
                                <div class="col-md-18 offset-md-1">
                                    <h4>
                                        traumatologia.drgarcia
                                        <br>
                                        <span>
                                            Instagram
                                        </span>
                                    </h4>
                                </div>
                            </a>
                            <div class="row">
                                <div class="col-md-24">
                                    <a href="{{ path('contact') }}" class="btn btn-con btn-block">
                                        Contacta
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% include 'elements/_picture.html.twig' with {
                            'mobileImage':  asset('build/images/about/ab-m.png'),
                            'desktopImage':  asset('build/images/about/ab.png')
                        } %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-none mt-4">
            <div class="row">
                <div class="col-24">
                    <p class="txt-sm text-center">
                        Médico Cirujano Egresado del IPN Especialista en Traumatología y Ortopedia, expedido por la UNAM Alta Especialidad en Artroscopia.
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="about-cont d-xl-none mb-4 mb-md-0">
                    <div class="row">
                        <div class="col-5 text-center">
                            <img src="{{ asset('build/images/about/b-f.png') }}" class="img-fluid icon" alt=""/>
                        </div>
                        <div class="col-18 offset-md-1">
                            <h4>
                                Traumatologia.DrGarcia<br>
                                <span>
                                    Facebook
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 text-center">
                            <img src="{{ asset('build/images/about/b-w.png') }}" class="img-fluid icon" alt=""/>
                        </div>
                        <div class="col-18 offset-md-1">
                            <h4>
                                56-1131-9233
                                <br>
                                <span>
                                    Whatsapp
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 text-center">
                            <img src="{{ asset('build/images/about/b-in.png') }}" class="img-fluid icon" alt=""/>
                        </div>
                        <div class="col-18 offset-md-1">
                            <h4>
                                traumatologia.drgarcia
                                <br>
                                <span>
                                    Instagram
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <a href="{{ path('contact') }}" class="btn btn-con btn-block">
                                Contacta
                            </a>
                        </div>
                    </div>
                </div>
                <div class="agenda d-xl-none">
                    <img src="{{ asset('build/images/about/agenda.png') }}" class="img-fluid" alt=""/>
                </div>
            </div>
        </div>
        <div class="row wrap-about-a mt-md-5">
            <div class="col-md-16 mx-auto ">
                <div class="wrap-module-txt  text-center">
                    <h3>
                        <span>
                            TRAYECTORIA
                        </span><br>
                        Años de Experiencia
                    </h3>
                    <p>
                        Especialista en traumatología y ortopedia, alta especialidad en cirugía reconstructiva articular y artroscopia tengo estudios de formación en la clínica CEMTRO de Madrid acreditado por FIFA.
                    </p>
                </div>
            </div>
            {% include 'about/_milestones.html.twig' %}
        </div>
        <div class="row wrap-about-b m-t-5 bg-dedicado">
            <div class="col-md-8 offset-md-14">
                <div class="wrap-module-txt  p-y-5">
                    <h3>
                        <span>
                            ESPECIALISTA EN TRAUMATOLOGIA Y ORTOPEDIA
                        </span><br>
                        Dr. Sergio García Tenorio
                    </h3>
                    <p>
                        Hola, soy el Dr. Sergio García Tenorio, Médico Cirujano, especialista en Traumatología y Ortopedia, cuento con una subespecialidad en Artroscopia, ambas avaladas por la UNAM, tuve la oportunidad de enriquecer mi formación en varios hospitales importantes y vanguardistas de México y de Europa, para estar siempre actualizado en los últimos tratamiento médicos y quirúrgicos que se llevan a cabo en todo el mundo.
                    </p>
                    <a href="{{ path('service') }}" class="btn btn-primary m-t-3">
                        Ver servicios
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="wrap-module-txt text-center p-y-5">
                    <h3 class="xs-word-break">
                        Lesiones musculoesqueléticas
                    </h3>
                    <p>Contamos con un amplio conocimiento y gran experiencia en el diagnóstico, tratamiento, prevención y recuperación de las enfermedades musculares y óseas que afectan tu vida.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <a class="area-container d-block" href="{{ path('service_ortopedia') }}">
                    <img src="{{ asset('build/images/icons/ortopedia.svg') }}" alt="Ortopedia" title="Ortopedia">
                    <h4 class="txt-sm bold color-blue-dark mt-5">Ortopedia</h4>
                </a>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <a class="area-container d-block" href="{{ path('service_ortopedia') }}">
                    <img src="{{ asset('build/images/icons/traumatologia.svg') }}" alt="Traumatologia" title="Traumatologia">
                    <h4 class="txt-sm bold color-blue-dark mt-5">Traumatologia</h4>
                </a>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <a class="area-container d-block" href="{{ path('service_lesiones') }}">
                    <img src="{{ asset('build/images/icons/lesiones.svg') }}" alt="Lesiones" title="Lesiones">
                    <h4 class="txt-sm bold color-blue-dark mt-5">Lesiones deportivas</h4>
                </a>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <a class="area-container d-block" href="{{ path('service_reemplazo') }}">
                    <img src="{{ asset('build/images/icons/articulaciones.svg') }}" alt="Articulaciones" title="Articulaciones">
                    <h4 class="txt-sm bold color-blue-dark mt-5">Fractura</h4>
                </a>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <a class="area-container d-block" href="{{ path('service_artroscopia') }}">
                    <img src="{{ asset('build/images/icons/artroscopia.svg') }}" alt="Artroscopia" title="Artroscopia">
                    <h4 class="txt-sm bold color-blue-dark mt-5">Artroscopia</h4>
                </a>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <a class="area-container d-block" href="{{ path('service_cirugia') }}">
                    <img src="{{ asset('build/images/icons/bisturi.svg') }}" alt="Cirujías" title="Cirujías">
                    <h4 class="txt-sm bold color-blue-dark mt-5">Cirugía articular</h4>
                </a>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <a class="area-container d-block" href="{{ path('service_cirugia') }}">
                    <img src="{{ asset('build/images/icons/rehabilitacion.svg') }}" alt="Rehabilitación" title="Rehabilitación">
                    <h4 class="txt-sm bold color-blue-dark mt-5">Rehabilitación</h4>
                </a>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <a class="area-container d-block" href="{{ path('service_cirugia') }}">
                    <img src="{{ asset('build/images/icons/pill.svg') }}" alt="Tratamientos" title="Tratamientos">
                    <h4 class="txt-sm bold color-blue-dark mt-5">Tratamientos</h4>
                </a>
            </div>
            <div class="col-24 text-center">
                <a href="{{ path('contact') }}" class="btn btn-primary">Contáctame</a>
            </div>
        </div>
    </div>
{% endblock %}
