<div class="row m-t-5">
    <div class="col-20 offset-2 col-md-20 offset-md-2">
        <div class="wrap-module-txt text-center m-b-5">
            <h3>
                <span>Aseguradoras</span>
                <br>
                Con ellos tenemos convenios
            </h3>
        </div>
        <div class="js-slick aseguradoras-slider m-t-5 m-b-5" data-slider-name="aseguradoras"
             data-slider-variable-width="false"
             data-slider-center-mode="false"
             data-slick='{
                     "slidesToShow": 5,
                     "slidesToScroll":5,
                     "responsive": [{
                        "breakpoint": 578,
                        "settings": {
                            "slidesToShow": 1,"slidesToScroll":1
                            }
                        }
                     ]}'
        >
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/metlife.png') }}" class="img-fluid" alt=""/></div>
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/gnp.png') }}" class="img-fluid" alt=""/></div>
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/axa.png') }}" class="img-fluid" alt=""/></div>
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/sm.png') }}" class="img-fluid" alt=""/></div>
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/allianz.png') }}" class="img-fluid" alt=""/></div>
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/hdi.png') }}" class="img-fluid" alt=""/></div>
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/bx.png') }}" class="img-fluid" alt=""/></div>
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/atlas.png') }}" class="img-fluid" alt=""/></div>
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/prevem.png') }}" class="img-fluid" alt=""/></div>
            <div class="logo-wrap"><img src="{{ asset('build/images/aseguradoras/zurich.png') }}" class="img-fluid" alt=""/></div>
        </div>
    </div>
</div>
