<div class="row wrap-module-a mb-5 mb-lg-0">
    <div class="col-lg-10 offset-lg-2 text-right order-1 order-sm-0">
        <div class="row">
            <div class="col-md-16 offset-md-5">
                <img src="{{ asset('build/images/home/dr-1.png') }}" class="img-fluid" alt=""/>
            </div>
        </div>
    </div>
    <div class="col-lg-9  order-0 order-sm-1">
        <div class="d-flex align-items-center h-100">
            <div class="wrap-module-txt">
                <h3>
                    <span>
                        BIENVENIDO
                    </span><br>
                    ¡Hola! Soy el doctor Sergio García Tenorio
                </h3>
                <p>
                    Estoy aquí para recordarte que tu cuerpo es la expresión pura de libertad en movimiento.
                </p>
                <p>
                    Mi misión es cuidar de esa libertad, devolverte el placer de moverte sin dolor. Como especialista en hombro, cadera y rodilla, te ofrezco la llave para recuperar tu vitalidad.
                </p>
                <p>
                    En el HMG Hospital Coyoacán y Angeles Universidad, no solo encuentras un especialista, sino a alguien comprometido con tu bienestar porque creo en la importancia de vivir sin limitaciones, sin molestias. Permíteme ser tu guía hacia una vida en plenitud, donde tu salud y movilidad son prioridad.
                </p>
                <div class='d-flex justify-content-center justify-content-lg-start m-t-4 flex-column flex-sm-row btn-gap'>
                    <a href='https://www.doctoralia.com.mx/sergio-garcia-tenorio/ortopedista-traumatologo/coyoacan' target="_blank" class='btn btn-lg btn-primary'>
                        Agenda tu cita
                    </a>
                    <a href='{{ path('about') }}' class='btn btn-lg btn-outline-primary'>
                        Cónoce más
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
