<div class="col-md-16 offset-md-4 col-lg-8 offset-lg-8 m-t-5 order-2 text-center">
    <div class="wrap-module-txt text-center">
        <h3>
            <span>
                CONTACTO
            </span><br>
            ¡Escríbenos!
        </h3>
        <p class="">
            Tiene una situación que necesite una valoración no dudes en escribirnos.
        </p>
    </div>
</div>
<div class="col-md-16 offset-md-4 col-lg-10 offset-lg-7 order-3 wrap-contac m-t-3">
    {{ form_start(form, {'attr': {'class':'data-form jvalidate row'}}) }}
    <div class="col-md-12 mb-3">
        <label>
            Nombre y Apellido
        </label>
        {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="col-md-12 mb-3">
        <label>
            Teléfono
        </label>
        {{ form_widget(form.phone, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="col-md-12 mb-3">
        <label>
            Email
        </label>
        {{ form_widget(form.mail, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="col-md-12 mb-3">
        <label>
            Empresa u Organización
        </label>
        {{ form_widget(form.company, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="col-md-24">
        <label>
            Mensaje
        </label>
        {{ form_widget(form.message, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="col-24 m-y-4">
        <button type="submit" class="btn btn-block btn-primary">
            ENVIAR
        </button>
    </div>
    {{ form_end(form) }}
</div>
