<div class="row wrap-module-c m-t-5">
    <div class="col-lg-11 offset-md-2 order-1 order-lg-0">
        <div class="wrap-module-txt ">
            <h3>
                ESPECIALISTA
            </h3>

            {% include 'partials/_ailings.html.twig' %}
        </div>
    </div>
    <div class="col-lg-9 offset-md-1 d-flex align-items-center order-0 order-lg-1">
        <img src="{{ asset('build/images/home/rodilla.png') }}" class="img-fluid" alt=""/>
    </div>
</div>
