<div class="row wrap-module-b bg-module">
    <div class="col-md-12 offset-md-6 text-center m-y-2">
        <div class="wrap-module-txt text-center">
            <h3>
                <span>
                    Tratamientos
                </span><br>
                Tratamientos y Cirugías
            </h3>
            <p class="m-t-2">
                Contamos con una amplia y diversa forma de abordar su padecimiento, brindando un diagnóstico certero y una solución que pueda restablecer su salud en el más cortó tiempo posible.
            </p>
        </div>
    </div>
    <div class="col-24 col-xl-4 mb-5 mb-xl-0 offset-xl-4 wrap-module-service">
        <div class="row">
            <div class="col-md-20 mx-auto text-center">
                <img src="{{ asset('build/images/home/tyo.png') }}" class="img-fluid" alt=""/>
            </div>
            <div class="col-md-22 mx-auto ser-txt text-center">
                <h4>
                    Consulta de Traumatología <br>y Ortopedia
                </h4>
                <p>
                    Diagnosticamos, tratamos, rehabilitamos y prevenimos de lesiones y enfermedades.
                </p>
                <a href="{{ path('service_ortopedia') }}" class="">
                    VER MÁS >
                </a>
            </div>
        </div>
    </div>
    <div class="col-24 col-xl-4 mb-5 mb-xl-0  wrap-module-service">
        <div class="row">
            <div class="col-md-20 mx-auto text-center">
                <img src="{{ asset('build/images/home/ld.png') }}" class="img-fluid" alt=""/>
            </div>
            <div class="col-md-20 mx-auto ser-txt text-center">
                <h4>
                    Fracturas y lesiones deportivas
                </h4>
                <p>
                    Tratamos lesiones agudas y lesiones crónicas con diagnósticos rápidos y precisos.
                </p>
                <a href="{{ path('service_lesiones') }}" class="">
                    VER MÁS >
                </a>
            </div>
        </div>
    </div>
    <div class="col-24 col-xl-4 mb-5 mb-xl-0  wrap-module-service">
        <div class="row">
            <div class="col-md-20 mx-auto text-center">
                <img src="{{ asset('build/images/home/a.png') }}" class="img-fluid" alt=""/>
            </div>
            <div class="col-md-20 mx-auto ser-txt text-center">
                <h4>
                    Artroscopia
                </h4>
                <p>
                    Realizamos el procedimiento para diagnosticar y tratar problemas en las articulaciones.
                </p>
                <a href="{{ path('service_artroscopia') }}" class="">
                    VER MÁS >
                </a>
            </div>
        </div>
    </div>
    <div class="col-24 col-xl-4 mb-5 mb-xl-0  wrap-module-service">
        <div class="row">
            <div class="col-md-22 mx-auto text-center">
                <img src="{{ asset('build/images/home/ca.png') }}" class="img-fluid" alt=""/>
            </div>
            <div class="col-md-20 mx-auto ser-txt text-center">
                <h4>
                    Cirugía<br> Articular
                </h4>
                <p>
                    Sustituimos las superficies articulares dañadas, por piezas metálicas y de polietileno.
                </p>
                <a href="{{ path('service_cirugia') }}" class="">
                    VER MÁS >
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 offset-md-6 text-center m-t-5 mb-n3">
        <a href="{{ path('service') }}" class="btn btn-lg btn-primary">
            Ver especialidades
        </a>
    </div>
</div>
