<div class="row">
    <div class="col p-0  wrap-slider home">
        <div class="slider-content js-slick slider-home-bottom" data-slick='{
        "autoplay":false,
        "autoplaySpeed": 4000,
        "dots":false,
        "arrows": true,
        "adaptiveHeight": true
        }'>
            <div class="slide position-relative">
                <div class='cont-tex'>
                    <h1 class='title'>
                        <span>Tu cuerpo es libertad de movimiento</span><br>
                        Dr. Sergio Garcia Tenorio
                    </h1>
                    <p>
                        Traumatólogo y ortopedista sub especialista en hombro cadera y rodilla.
                    </p>
                    <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                        <a href='https://www.doctoralia.com.mx/sergio-garcia-tenorio/ortopedista-traumatologo/coyoacan' target="_blank" class='btn btn-lg btn-primary ' data-toggle="modal" data-target="#exampleModalCenter">
                            Agenda tu cita
                        </a>
                        <a href='{{ path('contact') }}' class='btn btn-lg btn-ser'>
                            Contactar
                        </a>
                    </div>
                </div>
                {% include 'elements/_picture.html.twig' with {
                    'mobileImage':  asset('build/images/slider/m/slide-1.png'),
                    'desktopImage':  asset('build/images/slider/slider-1.png')
                } %}
            </div>
            <div class="slide position-relative">
                <div class='cont-tex'>
                    <h1 class='title'>
                        <span>Especialista en</span><br>
                        Artroscopia, prótesis de rodilla y cadera, cirugía robótica y Cirugía de Mínima Invasión.
                    </h1>
                    <p>
                        Recupera tu movilidad y dale a tu cuerpo la libertad que necesita.
                    </p>
                    <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                        <a href='{{ path('service') }}' class='btn btn-lg btn-primary '>
                            Ver servicios
                        </a>
                        <a href='{{ path('testimonials') }}' class='btn btn-lg btn-ser'>
                            Nuestros pacientes
                        </a>
                    </div>
                </div>
                {% include 'elements/_picture.html.twig' with {
                    'mobileImage':  asset('build/images/slider/m/slide-2.png'),
                    'desktopImage':  asset('build/images/slider/slider-2.png')
                } %}
            </div>
            <div class="slide position-relative">
                <div class='cont-tex'>
                    <h1 class='title'>
                        <span>Especialista avalado por el CEMTRO</span><br>
                        Atención a Lesiones Deportivas
                    </h1>
                    <p>
                        A lo largo de mi carrera he tratado a deportistas de alto nivel con resultados asombrosos.
                    </p>
                    <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                        <a href='{{ path('service') }}' class='btn btn-lg btn-primary'>
                            Ver servicios
                        </a>
                        <a href='{{ path('testimonials') }}' class='btn btn-lg btn-ser'>
                            Nuestros pacientes
                        </a>
                    </div>
                </div>
                {% include 'elements/_picture.html.twig' with {
                    'mobileImage':  asset('build/images/slider/m/slide-3.png'),
                    'desktopImage':  asset('build/images/slider/slider-3.png')
                } %}
            </div>

            <div class="slide position-relative">
                <div class='cont-tex'>
                    <h1 class='title fw-normal'>
                        Agenda<br>
                        <strong>tu consulta</strong>
                    </h1>
                    <p>
                        He generado una serie de convenios para que te sea muy fácil agendar tu cita conmigo
                    </p>
                    <div class='d-flex m-t-4'>
                        <a href='{{ path('contact') }}' class='btn btn-lg btn-primary '>
                            Contáctalo ahora
                        </a>
                    </div>
                </div>
                {% include 'elements/_picture.html.twig' with {
                    'mobileImage':  asset('build/images/slider/m/slide-4.png'),
                    'desktopImage':  asset('build/images/slider/slider-4.png')
                } %}
            </div>
            <div class="slide position-relative">
                <div class='cont-tex'>
                    <h1 class='title fw-normal fs-small'>
                        <span>Padecimientos frecuentes</span><br>
                        <strong>Especialista en hombro, cadera, rodilla y columna.</strong>
                    </h1>
                    <p>
                        Te explico de manera sencilla e interactiva los padecimientos más frecuentes que afectan a nuestro hombro, rodilla, cadera, columna y tobillo.
                    </p>
                    <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                        <a href='{{ path('contact') }}' class='btn btn-lg btn-primary'>
                            Contáctalo ahora
                        </a>
                        <a href='{{ path('ailing') }}' class='btn btn-lg btn-ser'>
                            Ir a servicios
                        </a>
                    </div>
                </div>
                {% include 'elements/_picture.html.twig' with {
                    'mobileImage':  asset('build/images/slider/m/slide-5.png'),
                    'desktopImage':  asset('build/images/slider/slider-5.png')
                } %}
            </div>

            <div class="slide position-relative">
                <div class='cont-tex extra-space'>
                    <h1 class='title fw-normal'>
                        <span>La gonartrosis</span><br>
                        <i>
                            Es un <strong>padecimiento</strong> <br>
                            <strong>frecuente</strong> de nuestra rodilla
                        </i>
                    </h1>
                    <p>
                        Te explico de manera sencilla e interactiva los padecimientos más frecuentes que afectan a nuestro hombro, rodilla, cadera, columna y tobillo.
                    </p>
                    <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                        <a href='{{ path('contact') }}' class='btn btn-lg btn-primary'>
                            Contáctalo ahora
                        </a>
                        <a href='https://www.youtube.com/user/S3RG106ARC1A' target="_blank" class='btn btn-lg btn-red'>
                            Ver canal
                        </a>
                    </div>
                </div>
                <div class="videoplayer-wrap m-5">
                    <iframe width="100%" height="235" src="https://www.youtube-nocookie.com/embed/JaPs5-iXxzA?autoplay=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                {% include 'elements/_picture.html.twig' with {
                    'mobileImage':  asset('build/images/slider/m/slide-6.png'),
                    'desktopImage':  asset('build/images/slider/slider-6.png')
                } %}
            </div>
        </div>
    </div>
</div>
