<div class="row wrap-module-d m-t-5 bg-module">
    <div class="col-md-12 offset-md-1 m-t-5 order-1 order-md-0">
        <div id="carouselExampleControls" class="carousel slide testimony-carousel" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="testimony-container">
                        <div class="row">
                            <div class="col-xl-10 text-center">
                                <img class="img-fluid avatar" src="{{ asset('build/images/home/john.png') }}">
                            </div>
                            <div class="col-xl-14">
                                <h3>Maynor García</h3>
                                <span>Futbolista</span>
                                <div class="stars-container">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                </div>
                                <p class="quote">“Viajar y realizar mi operación en México con el Dr. Sergio ha sido la mejor decisión.”</p>

                                <div class="controls">
                                    <a href="#carouselExampleControls" role="button" data-slide="prev" title="Regresar">
                                        <img src="{{ asset('build/images/icons/right.svg') }}" alt="Regresar">
                                    </a>
                                    <span class="v-line"></span>
                                    <a href="#carouselExampleControls" role="button" data-slide="next" title="Avanzar">
                                        <img src="{{ asset('build/images/icons/right.svg') }}" alt="Avanzar">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimony-container">
                        <div class="row">
                            <div class="col-xl-10 text-center">
                                <img class="img-fluid avatar" src="{{ asset('build/images/home/julia.png') }}">
                            </div>
                            <div class="col-xl-14">
                                <h3>Julia Serrano</h3>
                                <span>Ama de casa</span>
                                <div class="stars-container">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                </div>
                                <p class="quote">“Tenía un problema de rodillas muy doloroso, gracias al diagnóstico y tratamiento del Dr. Sergio me he recuperado.”</p>

                                <div class="controls">
                                    <a href="#carouselExampleControls" role="button" data-slide="prev" title="Regresar">
                                        <img src="{{ asset('build/images/icons/right.svg') }}" alt="Regresar">
                                    </a>
                                    <span class="v-line"></span>
                                    <a href="#carouselExampleControls" role="button" data-slide="next" title="Avanzar">
                                        <img src="{{ asset('build/images/icons/right.svg') }}" alt="Avanzar">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimony-container">
                        <div class="row">
                            <div class="col-xl-10 text-center">
                                <img class="img-fluid avatar" src="{{ asset('build/images/home/hugo.png') }}">
                            </div>
                            <div class="col-xl-14">
                                <h3>Hugo Martínez</h3>
                                <span>Contador</span>
                                <div class="stars-container">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                </div>
                                <p class="quote">“Por una caída tuve un problema de cadera, gracias a la cirugía hecha Dr. Sergio he recuperado mi movilidad y calidad de vida.”</p>

                                <div class="controls">
                                    <a href="#carouselExampleControls" role="button" data-slide="prev" title="Regresar">
                                        <img src="{{ asset('build/images/icons/right.svg') }}" alt="Regresar">
                                    </a>
                                    <span class="v-line"></span>
                                    <a href="#carouselExampleControls" role="button" data-slide="next" title="Avanzar">
                                        <img src="{{ asset('build/images/icons/right.svg') }}" alt="Avanzar">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 offset-md-1 m-t-5 order-0 order-md-1">
        <div class="row">
            <div class="col-md-16 ">
                <div class="wrap-module-txt">
                    <h3>
                        <span>TESTIMONIOS</span>
                        <br>
                        Nuestros pacientes son lo más importante.
                    </h3>
                    <p>Médico egresado del IPN, especialista en traumatología y ortopedia expedido por la UNAM, alta especialidad en artroscopia.</p>
                    <a href="{{ path('testimonials') }}" class="btn btn-lg btn-ser mt-4">
                        Ver testimonios
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
