<div class="row m-sm-t-5">
    <div class="col-12 col-sm text-center body-dot" data-body="Hombro">
        <img src="{{ asset('build/images/icons/hombro-active.svg') }}" data-inactive="{{ asset('build/images/icons/hombro-gray.svg') }}" class="img-fluid ailing-img" alt="Hombro" title="Hombro"/>
        <h4 class="txt-sm bold color-blue-dark">Hombro</h4>
    </div>
    <div class="col-12 col-sm text-center body-dot" data-body="Cadera">
        <img src="{{ asset('build/images/icons/cadera-gray.svg') }}" data-inactive="{{ asset('build/images/icons/cadera-gray.svg') }}" class="img-fluid ailing-img" alt="Cadera" title="Cadera"/>
        <h4 class="txt-sm bold color-blue-dark">Cadera</h4>
    </div>
    <div class="col-12 col-sm text-center body-dot" data-body="Rodilla">
        <img src="{{ asset('build/images/icons/rodilla-gray.svg') }}" data-inactive="{{ asset('build/images/icons/rodilla-gray.svg') }}" class="img-fluid ailing-img" alt="Rodilla" title="Rodilla"/>
        <h4 class="txt-sm bold color-blue-dark">Rodilla</h4>
    </div>
    <div class="col-12 col-sm text-center body-dot" data-body="Columna">
        <img src="{{ asset('build/images/icons/columna-gray.svg') }}" data-inactive="{{ asset('build/images/icons/columna-gray.svg') }}" class="img-fluid ailing-img" alt="Columna" title="Columna"/>
        <h4 class="txt-sm bold color-blue-dark">Columna</h4>
    </div>
    <div class="col-12 col-sm text-center body-dot" data-body="Pie">
        <img src="{{ asset('build/images/icons/tobillo-gray.svg') }}" data-inactive="{{ asset('build/images/icons/tobillo-gray.svg') }}" class="img-fluid ailing-img" alt="Pie" title="Pie"/>
        <h4 class="txt-sm bold color-blue-dark">Pie</h4>
    </div>
</div>
<div>
    <ul class="columns pl-0 ailing-list home">
        <li>
            <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid"/> Hombro Congelado
        </li>
        <li>
            <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid"/> Ruptura de Manguito Rotador
        </li>
        <li>
            <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid"/> Tendinitis del Bíceps
        </li>
        <li>
            <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid"/> Luxación de hombro
        </li>
        <li>
            <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid"/> Artrosis glenohumeral
        </li>
    </ul>
</div>
