<div class="row m-t-5 justify-content-center">
    <div class="col-20 col-md-14 wrap-contac">
        {{ form_start(form, {'attr': {'class':'data-form jvalidate row h-100'}}) }}
        <div class="col-md-12">
            <label>
                Nombre y Apellido
            </label>
            {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="col-md-12">
            <label>
                Teléfono
            </label>
            {{ form_widget(form.phone, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="col-md-12">
            <label>
                Email
            </label>
            {{ form_widget(form.mail, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="col-md-12">
            <label>
                Empresa u Organización
            </label>
            {{ form_widget(form.company, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="col-md-24">
            <label>
                Mensaje
            </label>
            {{ form_widget(form.message, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="col-24 mt-4">
            <button type="submit" class="btn btn-block btn-primary">
                ENVIAR
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
