{% extends 'base.html.twig' %}

{% block title %}Artroscopia{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-24 p-0  wrap-slider img-bg-light">
                <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                    <div class="slide position-relative">
                        <div class='cont-tex about'>
                            <div class="txt-img">
                                <img src="{{ asset('build/images/services/artroscopia/banner-txt.svg') }}" class="img-fluid" alt=""/>
                            </div>
                            <p class="txt-dr">
                                Consiste en visualizar la articulación con el fin de observar su anatomía interna y confirmar su estado, acérquese tenemos el equipo especializado para poder hacer una valoración de su caso.
                            </p>
                            <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                                <a href='{{ path('contact') }}' class='btn btn-lg btn-primary'>
                                    Contáctalo ahora
                                </a>
                                <a href='{{ path('service') }}' class='btn btn-lg btn-ser'>
                                    Especialidades
                                </a>
                            </div>
                        </div>
                        {% include 'elements/_picture.html.twig' with {
                            'mobileImage':  asset('build/images/services/artroscopia/banner-m.png'),
                            'desktopImage':  asset('build/images/services/artroscopia/banner.png')
                        } %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-artroscopia">
            <div class="col-md-8 offset-md-14">
                <div class="wrap-module-txt  p-y-5">
                    <h3>
                        <span>ARTROSCOPIA</span>
                        <br>
                        Tratamiento y mejora
                    </h3>
                    <p>La artroscopia es un procedimiento para diagnosticar y tratar problemas en las articulaciones. Un cirujano inserta un conducto delgado conectado a una cámara de video de fibra óptica a través de una pequeña incisión del tamaño de un ojal. La imagen dentro de la articulación se transmite a un monitor de video de alta definición.</p>
                    <a href="{{ path('contact') }}" class="btn btn-primary m-t-3">Contactar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-md-5">
        <div class="row">
            <div class="col-24">
                <div class="wrap-module-txt p-y-5">
                    <div class=" text-center">
                        <h3>
                            <span>CARACTERÍSTICAS</span>
                            <br>
                            ¿Por qué se realiza?
                        </h3>
                        <p>Los médicos utilizan la artroscopia para diagnosticar y tratar una variedad de afecciones en las articulaciones, más frecuentemente aquellas que afectan las siguientes partes:</p>
                    </div>
                    {% include 'partials/_ailings.html.twig' %}
                </div>
            </div>


            <div class="col-24 text-center m-t-5">
                <a href="{{ path('contact') }}" class="btn btn-border">Conoce más</a>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-bottom">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center mb-5 mb-md-0">
                <div class="wrap-module-txt ">
                    <h3>
                        <span>PADECIMIENTOS</span>
                        <br>
                        Padecimientos más recurrentes son:
                    </h3>
                    <div>
                        <ul class="columns pl-0">
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Desgarro y roturas meniscales
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Lesiones de ligamento cruzado
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Osteocondritis y defectos del cartílago
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Extracción de cuerpos libres
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Síndrome de manquito rotador
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Hombro Congelado
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Pinzamiento femoroacetabular
                            </li>
                        </ul>
                    </div>
                    <a href="{{ path('contact') }}" class="btn btn-border m-t-3">Conoce más</a>
                </div>
            </div>
            <div class="col-md-12">
                <img src="{{ asset('build/images/services/artroscopia/padecimiento.png') }}" class="img-fluid" alt="Padecimientos"/>
            </div>
        </div>
    </div>
{% endblock %}
