{% extends 'base.html.twig' %}

{% block title %}Cirugía Articular{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-24 p-0 wrap-slider img-bg-light">
            <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                <div class="slide position-relative">
                    <div class=' cont-tex about'>
                        <div class="txt-img">
                            <img src="{{ asset('build/images/services/cirugia/banner-txt.svg') }}" class="img-fluid" alt="" />
                        </div>
                        <p class="txt-dr">
                            El médico podría recomendarle el reemplazo articular para mejorar su calidad de vida. La cirugía de reemplazo articular puede aliviar el dolor y ayudarle a moverse con más facilidad y sentirse mejor.
                        </p>
                        <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                            <a href='{{path('contact')}}' class='btn btn-lg btn-primary'>
                                Contáctalo ahora
                            </a>
                            <a href='{{path('service')}}' class='btn btn-lg btn-ser'>
                                Especialidades
                            </a>
                        </div>
                    </div>
                    {% include 'elements/_picture.html.twig' with {
                        'mobileImage':  asset('build/images/services/cirugia/banner-m.png'),
                        'desktopImage':  asset('build/images/services/cirugia/banner.png')
                    } %}
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-cirugia">
        <div class="col-md-8 offset-md-14">
            <div class="wrap-module-txt  p-y-5">
                <h3>
                    <span>CIRUGÍA ARTICULAR</span>
                    <br>
                    Intervención efectiva
                </h3>
                <p>El objetivo de la cirugía de reemplazo articular, o artroplastia, es un procedimiento por medio del cual un cirujano ortopédico cambia las superficies articulares dañadas, por piezas metálicas y de polietileno para que realicen la función que ya no pueden realizar las articulaciones dañadas del paciente.</p>
                <p>Una articulación es el lugar donde se unen dos o más huesos, como la rodilla, la cadera o el hombro. Por lo general, un cirujano ortopedista es quien realiza la cirugía.</p>
                <a href="{{path('contact')}}" class="btn btn-primary mt-3">Contactar</a>
            </div>
        </div>
    </div>
  </div>

  <div class="container m-t-5">
    <div class="row">
        <div class="col-md-24 text-center mb-5">
            <div class="wrap-module-txt ">
                <h3>
                    <span>CARACTERÍSTICAS</span>
                    <br>
                    ¿Por qué se dañan las articulaciones?
                </h3>
            </div>
        </div>
        <div class="col-md-6 mb-5 mb-md-0 wrap-module-service">
            <div class="row">
                <div class="col-md-24 text-center">
                    <img src="{{ asset('build/images/services/cirugia/service1.png') }}" class="img-fluid" alt="" />
                </div>
                <div class="col-md-24 mx-auto ser-txt text-center">
                    <h4>Artritis</h4>
                    <p>La artritis reumatoide afecta el revestimiento de las articulaciones y causan una hinchazón dolorosa que puede finalmente causar una erosión ósea y la deformidad de las articulaciones.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5 mb-md-0 wrap-module-service">
            <div class="row">
                <div class="col-md-24 text-center">
                    <img src="{{ asset('build/images/services/cirugia/service2.png') }}" class="img-fluid" alt="" />
                </div>
                <div class="col-md-24 mx-auto ser-txt text-center">
                    <h4>Enfermedades Degenerativas</h4>
                    <p>La osteoartritis o artrosis es una enfermedad degenerativa producida por la existencia simultánea de envejecimiento, desgaste y abrasión de las articulaciones por lo que también se le llama artritis por uso y desgaste.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5 mb-md-0 wrap-module-service">
            <div class="row">
                <div class="col-md-24 text-center">
                    <img src="{{ asset('build/images/services/cirugia/service3.png') }}" class="img-fluid" alt="" />
                </div>
                <div class="col-md-24 mx-auto ser-txt text-center">
                    <h4>Fracturas</h4>
                    <p>Es una complicación exclusiva articular como consecuencia de fracturas de cartílago hialino que no fueron bien reducidas, o también como consecuencia de fracturas no articulares que se consolidaron con deformaciones por mala reducción, deformidades que altera los ejes normales de ma mecánica articular.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5 mb-md-0 wrap-module-service">
            <div class="row">
                <div class="col-md-24 text-center">
                    <img src="{{ asset('build/images/services/cirugia/service4.png') }}" class="img-fluid" alt="" />
                </div>
                <div class="col-md-24 mx-auto ser-txt text-center">
                    <h4>Problemas metabólicos</h4>
                    <p>El tejido adiposo (grasa) está formado por millones de llamadas adipocitos. Las respuestas inadecuadas a los altos niveles de glucosa y citocinas (sustancias del sistema inmunológico así como los adipocitos, destruyen las articulaciones.</p>
                </div>
            </div>
        </div>
        <div class="col-md-24 text-center m-t-5 mb-n3">
            <a href="{{path('ailing')}}" class="btn btn-border mt-3">Padecimientos</a>
        </div>
    </div>
  </div>

  <div class="container-fluid bg-bottom">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center mb-5 mb-md-0">
          <div class="wrap-module-txt ">
              <h3>
                  <span>PADECIMIENTOS</span>
                  <br>
                  ¿Necesito una cirugía de prótesis?
              </h3>
              <p class="text-small">
                Sólo el médico especialista en articulaciones, le puede decir si necesita una articulación artificial. Él evaluará su caso especifico, sus características clínicas y le solicitara imágenes diagnósticas para revisarlas y en conjunto con usted se tomara la decisión más adecuada para su caso.
              </p>
              <p class="text-small">
                Luego de examinarle la articulación, el médico podría indicarle que haga ejercicio, que use alguna ortesis (bastón o andadera), control de peso, o medicamentos y suplementos vitamínicos. Entre los medicamentos para la artrosis se encuentran aquellos que reducen la inflamación. Dependiendo del grado de artrosis, el médico le podría recetar corticoesteroides o algunos otros medicamentos.
              </p>
              <a href="{{path('contact')}}" class="btn btn-border mt-3">Conoce más</a>
          </div>
      </div>
      <div class="col-md-12">
          <img src="{{ asset('build/images/services/cirugia/padecimiento.png') }}" class="img-fluid" alt="Padecimientos" />
      </div>
    </div>
  </div>
{% endblock %}
