{% extends 'base.html.twig' %}

{% block title %}Especialidades{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-24 p-0 wrap-slider img-bg-light">
                <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                    <div class="slide position-relative">
                        <div class='cont-tex about'>
                            <h1 class='title fw-normal fs-small txt-dark'>
                                <strong>Tu cuerpo es libertad de movimiento</strong>
                            </h1>
                            <p class="txt-dr">
                                Experiencia y conocimientos nos permite un amplio campo de acción en beneficio de su salud.
                            </p>
                            <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                                <a href="https://wa.me/5215611319233" target="_blank" class='btn btn-lg btn-primary'>
                                    Contáctalo ahora
                                </a>
                            </div>
                        </div>

                        {% include 'elements/_picture.html.twig' with {
                            'mobileImage':  asset('build/images/services/banner-m.png'),
                            'desktopImage':  asset('build/images/services/banner.png')
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-20 col-lg-16">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Busca una palabra, servicio o padecimiento...">
                    <button class="btn btn-primary" type="button" name="button">
                        <img class="mr-3" src="{{ asset('build/images/icons/search.svg') }}" alt="">
                        <span class="d-none d-md-inline">Búsqueda</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card rounded-card h-100">
                    <div class="d-lg-flex text-center text-lg-left">
                        <img class="mr-lg-4 mb-3 mb-lg-0" src="{{ asset('build/images/icons/reliable.svg') }}" alt="">
                        <h3 class="color-blue-dark">Intervenciones 100% confiables</h3>
                    </div>
                    <p class="text-small">Nuestro experimentado equipo humano nos permite realizar intervenciones con altos niveles seguridad y efectivas.</p>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card rounded-card h-100">
                    <div class="d-lg-flex text-center text-lg-left">
                        <img class="mr-lg-4 mb-3 mb-lg-0" src="{{ asset('build/images/icons/quality.svg') }}" alt="">
                        <h3 class="color-blue-dark">Materiales y equipo de calidad</h3>
                    </div>
                    <p class="text-small">Puede estar tranquilo nuestro instrumental y materiales para cirugías, curaciones, prótesis son de la mejor calidad en el sector.</p>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card rounded-card h-100">
                    <div class="d-lg-flex text-center text-lg-left">
                        <img class="mr-lg-4 mb-3 mb-lg-0" src="{{ asset('build/images/icons/attention.svg') }}" alt="">
                        <h3 class="color-blue-dark">Atención personalizada y precios accesibles</h3>
                    </div>
                    <p class="text-small">"Nuestras alianzas estrategias y propios recursos nos permiten ofrecer un diagnóstico, tratamiento y recuperación al mejor precio."</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container services-container">
        <div class="row justify-content-center">
            <div class="col-24">
                <div class="wrap-module-txt text-center p-y-5">
                    <h3>
                        <span>NUESTROS SERVICIOS</span>
                        <br>
                        Especialidades que atendemos
                    </h3>
                </div>
            </div>
            <div class="col-24 service">
                <div class="row">
                    <div class="col-lg-8">
                        <img class="mr-5 img-fluid" src="{{ asset('build/images/services/traumatologia.png') }}" alt="">
                    </div>
                    <div class="col-lg-16 d-flex align-items-center">
                        <div class="">
                            <h3>Traumatología y Ortopedia</h3>
                            <p class="text-small mb-5">
                                La Ortopedia y Traumatología es la especialidad quirúrgica que se ocupa de la prevención, diagnóstico y tratamiento de los trastornos del sistema musculoesquelético (huesos, articulaciones, músculos, ligamentos, tendones y nervios), mediante procedimientos médicos, quirúrgicos y físicos.
                            </p>
                            <a href='{{ path('service_ortopedia') }}' class='btn btn-lg btn-primary'>
                                Ver servicio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-24 service">
                <div class="row">
                    <div class="col-lg-8">
                        <img class="mr-5 img-fluid" src="{{ asset('build/images/services/articular.png') }}" alt="">
                    </div>
                    <div class="col-lg-16 d-flex align-items-center">
                        <div class="">
                            <h3>Cirugía Articular</h3>
                            <p class="text-small mb-5">
                                Es un área que se encarga de brinda educación, apoyo, atención y tratamiento de las articulaciones como lo son: hombro, codo, muñeca, cadera rodilla y tobillo, con el objetivo de preservar la movilidad y estabilidad de la articulación y así optimizar su función.
                            </p>
                            <a href='{{ path('service_cirugia') }}' class='btn btn-lg btn-primary'>
                                Ver servicio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-24 service">
                <div class="row">
                    <div class="col-lg-8">
                        <img class="mr-5 img-fluid" src="{{ asset('build/images/services/artroscopia.png') }}" alt="">
                    </div>
                    <div class="col-lg-16 d-flex align-items-center">
                        <div class="">
                            <h3>Artroscopia</h3>
                            <p class="text-small mb-5">
                                Procedimiento quirúrgico mínimamente invasivo que implica el examen visual del interior de una articulación con un instrumento del tamaño de un lapiz, llamado artroscopio para diagnosticar y tratar diversas afecciones o lesiones de una articulación y en especial, para reparar o eliminar tejido o hueso dañado.
                            </p>
                            <a href='{{ path('service_artroscopia') }}' class='btn btn-lg btn-primary'>Ver servicio</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-24 service">
                <div class="row">
                    <div class="col-lg-8">
                        <img class="mr-5 img-fluid" src="{{ asset('build/images/services/reemplazo_articular.png') }}" alt="">
                    </div>
                    <div class="col-lg-16 d-flex align-items-center">
                        <div class="">
                            <h3>Reemplazo Articular</h3>
                            <p class="text-small mb-5">
                                El reemplazo total de la articulación es un procedimiento quirúrgico en el que se extraen partes de una articulación dañada y se reemplazan con un dispositivo de metal, plástico o cerámica llamado prótesis. La prótesis está diseñada para replicar el movimiento de una articulación normal y sana.
                            </p>
                            <a href='{{ path('service_reemplazo') }}' class='btn btn-lg btn-primary'>Ver servicio</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-24 service">
                <div class="row">
                    <div class="col-lg-8">
                        <img class="mr-5 img-fluid" src="{{ asset('build/images/services/lesiones.png') }}" alt="">
                    </div>
                    <div class="col-lg-16 d-flex align-items-center">
                        <div class="">
                            <h3>Lesiones Deportivas</h3>
                            <p class="text-small mb-5">
                                Diagnóstico y tratamiento de lesiones producidas durante la práctica de deporte o alguna actividad física. Es muy importante no solo la recuperación en sí sino también hacerlo de la forma más rápida posible, para no interferir en el desarrollo de su disciplina deportiva.
                            </p>
                            <a href='{{ path('service_lesiones') }}' class='btn btn-lg btn-primary'>Ver servicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
