{% extends 'base.html.twig' %}

{% block title %}Lesiones Deportivas{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-24 p-0  wrap-slider img-bg-light">
            <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                <div class="slide position-relative">
                    <div class='cont-tex about'>
                        <h1 class='title fw-normal fs-small txt-dark'>
                            <strong>Lesiones Deportivas</strong>
                        </h1>
                        <p class="txt-dr">
                            Las lesiones deportivas pueden afectar permanentemente la vida de un atleta en caso de no ser tratadas oportunamente, contamos con los últimos adelantos y técnicas para tratar, rehabilitar  y lograr una recuperación plena.
                        </p>
                        <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                            <a href='{{path('contact')}}' class='btn btn-lg btn-primary'>
                                Contáctalo ahora
                            </a>
                            <a href='{{path('service')}}' class='btn btn-lg btn-ser'>
                                Especialidades
                            </a>
                        </div>
                    </div>
                    {% include 'elements/_picture.html.twig' with {
                        'mobileImage':  asset('build/images/services/lesiones/banner-m.png'),
                        'desktopImage':  asset('build/images/services/lesiones/banner.png')
                    } %}
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-lesiones">
        <div class="col-md-8 offset-md-14">
            <div class="wrap-module-txt  p-y-5">
                <h3>
                    <span>LESIONES DEPORTIVAS</span>
                    <br>
                    Descripción general
                </h3>
                <p>Existen dos tipos de lesiones deportivas. Las lesiones agudas ocurren de repente mientras se está jugando o haciendo ejercicio. Las lesiones crónicas ocurren después de practicar un deporte o hacer ejercicio por mucho tiempo.</p>
                <a href="{{path('contact')}}" class="btn btn-primary mt-3">Contactar</a>
            </div>
        </div>
    </div>
  </div>

  <div class="container m-t-5">
    <div class="row justify-content-center">
        <div class="col-md-24 text-center mb-5">
            <div class="wrap-module-txt">
                <h3 class="text-center">
                    <span>CARACTERÍSTICAS</span>
                    <br>
                    Tipos de Lesión
                </h3>
            </div>
        </div>
        <div class="col-md-6 wrap-module-service">
            <div class="row">
                <div class="col-md-24 text-center">
                    <img src="{{ asset('build/images/services/lesiones/service1.png') }}" class="img-fluid" alt="" />
                </div>
                <div class="col-md-24 mx-auto ser-txt text-center">
                    <h4>Fracturas</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 wrap-module-service">
            <div class="row">
                <div class="col-md-24 text-center">
                    <img src="{{ asset('build/images/services/lesiones/service2.png') }}" class="img-fluid" alt="" />
                </div>
                <div class="col-md-24 mx-auto ser-txt text-center">
                    <h4>Lesiones Ligamentarias</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 wrap-module-service">
            <div class="row">
                <div class="col-md-24 text-center">
                    <img src="{{ asset('build/images/services/lesiones/service3.png') }}" class="img-fluid" alt="" />
                </div>
                <div class="col-md-24 mx-auto ser-txt text-center">
                    <h4>Desgarros Musculares</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 wrap-module-service">
            <div class="row">
                <div class="col-md-24 text-center">
                    <img src="{{ asset('build/images/services/lesiones/service4.png') }}" class="img-fluid" alt="" />
                </div>
                <div class="col-md-24 mx-auto ser-txt text-center">
                    <h4>Contusiones</h4>
                </div>
            </div>
        </div>
        <div class="col-md-24 text-center m-t-5 mb-n3">
            <a href="{{path('ailing')}}" class="btn btn-border mt-3">Padecimientos</a>
        </div>
    </div>
  </div>

  <div class="container-fluid bg-bottom">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center mb-5 mb-md-0">
          <div class="wrap-module-txt ">
              <h3>
                  <span>ES NECESARIO UNA</span>
                  <br>
                  Intervención quirúrgica
              </h3>
              <p class="text-small">
                Si una persona sufre una lesión mientras hace ejercicio, en la participación en deportes o al realizar cualquier tipo de actividad física, dependiendo de la gravedad de la lesión, un especialista en deportes puede aconsejarte consultar a un cirujano ortopédico para recibir tratamiento. La cirugía suele ser considerada como último recurso para deportistas aficionados y es más común entre los deportistas profesionales.
              </p>
              <a href="{{path('contact')}}" class="btn btn-border mt-3">Contáctanos</a>
          </div>
      </div>
      <div class="col-md-12">
          <img src="{{ asset('build/images/services/lesiones/padecimiento.png') }}" class="img-fluid" alt="Padecimientos" />
      </div>
    </div>
  </div>
{% endblock %}
