{% extends 'base.html.twig' %}

{% block title %}Traumatololgía y Ortopedia{% endblock %}

{% block body %}
    <div class="container-fluid m-b-5">
        <div class="row">
            <div class="col-24 p-0 wrap-slider img-bg-light">
                <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                    <div class="slide position-relative">
                        <div class='cont-tex about'>
                            <div class="txt-img">
                                <img src="{{ asset('build/images/services/ortopedia/banner-txt.svg') }}" class="img-fluid" alt=""/>
                            </div>
                            <p class="txt-dr">
                                Tecnología, técnicas y tratamientos de vanguardia enfocada a tratar una amplia gama de lesiones musculo esqueléticas, atención personalizada y diagnóstico rápido y preciso.
                            </p>
                            <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                                <a href='{{ path('contact') }}' class='btn btn-lg btn-primary'>
                                    Contáctalo ahora
                                </a>
                                <a href='{{ path('service') }}' class='btn btn-lg btn-ser'>
                                    Especialidades
                                </a>
                            </div>
                        </div>
                        {% include 'elements/_picture.html.twig' with {
                            'mobileImage':  asset('build/images/services/ortopedia/banner-m.png'),
                            'desktopImage':  asset('build/images/services/ortopedia/banner.png')
                        } %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-tratamiento">
            <div class="col-md-8 offset-md-14">
                <div class="wrap-module-txt  p-y-5">
                    <h3>
                        <span>TRAUMATOLOGÍA Y ORTOPEDIA</span>
                        <br>
                        Tratamiento y mejora
                    </h3>
                    <p>La ortopedia y traumatología son una rama de la cirugía dedicada al diagnóstico, tratamiento, rehabilitación y prevención de lesiones y enfermedades que afectan al sistema músculo-esquelético. Este complejo sistema abarca huesos, articulaciones, ligamentos, tendones, músculos y nervios.</p>
                    <p>El Dr. García es especialista en el diagnóstico, tratamiento, rehabilitación y prevención de lesiones y enfermedades que afectan al sistema músculo-esquelético.</p>
                    <a href="{{ path('contact') }}" class="btn btn-primary m-t-3">Contactar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-24 mb-5">
                <div class="wrap-module-txt text-center">
                    <h3>
                        <span>LOS SERVICIOS</span>
                        <br>
                        Especialidades que atiende
                    </h3>
                </div>
            </div>
            <div class="col-24 col-md-12 col-lg-8 d-flex align-items-center mb-3 mb-lg-5">
                <img src="{{ asset('build/images/services/ortopedia/service1.png') }}" alt="">
                <p class="text-muted txt-sm">Especialistas en atroscopia de cadera, hombro, rodillas y tobillo.</p>
            </div>
            <div class="col-24 col-md-12 col-lg-8 d-flex align-items-center mb-3 mb-lg-5">
                <img src="{{ asset('build/images/services/ortopedia/service2.png') }}" alt="">
                <p class="text-muted txt-sm">Protesis de rodilla, cadera y hombro.</p>
            </div>
            <div class="col-24 col-md-12 col-lg-8 d-flex align-items-center mb-3 mb-lg-5">
                <img src="{{ asset('build/images/services/ortopedia/service3.png') }}" alt="">
                <p class="text-muted txt-sm">Reducción del 85% de tiempo en la atención de pacientes.</p>
            </div>
            <div class="col-24 col-md-12 col-lg-8 d-flex align-items-center mb-3 mb-lg-5">
                <img src="{{ asset('build/images/services/ortopedia/service4.png') }}" alt="">
                <p class="text-muted txt-sm">Urgencias traumatológicas las 24 horas del día.</p>
            </div>
            <div class="col-24 col-md-12 col-lg-8 d-flex align-items-center mb-3 mb-lg-5">
                <img src="{{ asset('build/images/services/ortopedia/service5.png') }}" alt="">
                <p class="text-muted txt-sm">Infiltraciones de columna, hombro, rodilla y cadera.</p>
            </div>

            <div class="col-24 text-center">
                <a href="{{ path('ailing') }}" class="btn btn-border">Padecimientos</a>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-bottom">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center mb-5 mb-md-0">
                <div class="wrap-module-txt ">
                    <h3>
                        <span>PADECIMIENTOS</span>
                        <br>
                        Padecimientos más recurrentes son:
                    </h3>
                    <div>
                        <ul class="columns pl-0">
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Artrosis
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Gonartrosis
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Coxartrosis
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Hallux Valgus
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Esquinces
                            </li>
                            <li>
                                <img src="{{ asset('build/images/home/vi.png') }}" class="img-fluid" alt=""/> Fracturas
                            </li>
                        </ul>
                    </div>
                    <a href="{{ path('contact') }}" class="btn btn-border m-t-3">Conoce más</a>
                </div>
            </div>
            <div class="col-md-12">
                <img src="{{ asset('build/images/services/ortopedia/padecimiento.png') }}" class="img-fluid" alt="Padecimientos"/>
            </div>
        </div>
    </div>
{% endblock %}
