{% extends 'base.html.twig' %}

{% block title %}Reemplazo Articular{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-24 p-0 wrap-slider img-bg-light">
            <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                <div class="slide position-relative">
                    <div class='cont-tex about'>
                        <h1 class='title fw-normal fs-small txt-dark'>
                            <strong>Reemplazo Articular</strong>
                        </h1>
                        <p class="txt-dr">
                            Cuando los tratamientos médicos recomendados resultan poco eficaz, la cirugía de reemplazo articular es la mejor opción, contamos con recursos humanos y técnicos para atender su caso.
                        </p>
                        <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                            <a href='{{path('contact')}}' class='btn btn-lg btn-primary'>
                                Contáctalo ahora
                            </a>
                            <a href='{{path('service')}}' class='btn btn-lg btn-ser'>
                                Especialidades
                            </a>
                        </div>
                    </div>
                    {% include 'elements/_picture.html.twig' with {
                        'mobileImage':  asset('build/images/services/reemplazo/banner-m.png'),
                        'desktopImage':  asset('build/images/services/reemplazo/banner.png')
                    } %}
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-reemplazo">
        <div class="col-md-8 offset-md-14">
            <div class="wrap-module-txt  p-y-5">
                <h3>
                    <span>REEMPLAZO ARTICULAR</span>
                    <br>
                    Descripción general
                </h3>
                <p>La cirugía de reemplazo articular reemplaza las partes lesionadas o enfermas de la articulación y las reemplaza por partes nuevas y artificiales. La cirugía de reemplazo articular tiene como meta aliviar el dolor, ayudar a que la articulación funcione mejor y mejorar el caminar y otros movimientos.</p>
                <a href="{{path('contact')}}" class="btn btn-primary mt-3">Contactar</a>
            </div>
        </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 m-t-5 d-flex align-items-center">
          <div class="wrap-module-txt ">
              <h3>
                  <span>CARACTERÍSTICAS</span>
                  <br>
                  Factores del deterioro articular
              </h3>
              <p>Las causas más comunes de disfunción de las articulaciones son la osteoartritis y la artritis reumatoide. Mientras que nadie está seguro de lo que causa la artritis, también hay un número de factores que pueden contribuir al deterioro de la articulación. Algunos de estos factores incluyen:</p>
          </div>
      </div>
      <div class="col-md-12 m-t-5">
          <div class="row">
            <div class="col-24 col-xl-12 mb-3">
              <div class="card rounded-card flex-row h-100 align-items-center">
                <img class="mr-4" src="{{ asset('build/images/services/reemplazo/hueso.svg') }}" alt="">
                <p class="text-small">Trauma severo al cartílago de la articulación (el tejido que hace de almohadilla al final de los huesos)</p>
              </div>
            </div>
            <div class="col-24 col-xl-12 mb-3">
              <div class="card rounded-card flex-row h-100 align-items-center">
                <img class="mr-4" src="{{ asset('build/images/services/reemplazo/lesion.svg') }}" alt="">
                <p class="text-small">Lesiones menores repetidas</p>
              </div>
            </div>
            <div class="col-24 col-xl-12 mb-3">
              <div class="card rounded-card flex-row h-100 align-items-center">
                <img class="mr-4" src="{{ asset('build/images/services/reemplazo/adn.svg') }}" alt="">
                <p class="text-small">Predisposición genética a un metabolismo cartilaginoso anormal</p>
              </div>
            </div>
            <div class="col-24 col-xl-12 mb-3">
              <div class="card rounded-card flex-row h-100 align-items-center">
                <img class="mr-4" src="{{ asset('build/images/services/reemplazo/articulacion.svg') }}" alt="">
                <p class="text-small">Anormalidades en el desarrollo de la formación de la articulación</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-bottom">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center mb-5 mb-md-0">
          <div class="wrap-module-txt ">
              <h3>
                  <span>PADECIMIENTOS</span>
                  <br>
                  ¿Cómo se diagnostica la cirugía?
              </h3>
              <p class="text-small">
                En casi todos los pacientes, la artrosis y otros problemas de articulaciones que suelen ser tratados con una cirugía de reemplazo articular pueden diagnosticarse con un simple estudio de rayos X. Se deben tener en cuenta otras causas de dolor articular, ya que el dolor lumbar referido puede confundirse fácilmente con el dolor asociado con la artritis de cadera o rodilla y el dolor de una cadera con artrosis puede afectar a la rodilla.
              </p>
              <a href="{{path('contact')}}" class="btn btn-border mt-3">Conoce más</a>
          </div>
      </div>
      <div class="col-md-12">
          <img src="{{ asset('build/images/services/reemplazo/padecimiento.png') }}" class="img-fluid" alt="Padecimientos" />
      </div>
    </div>
  </div>
{% endblock %}
