{% extends 'base.html.twig' %}
{% block title %}Testimonios{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-24 p-0  wrap-slider img-bg-light">
                <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                    <div class="slide position-relative">
                        <div class=' cont-tex about'>
                            <div class="txt-img">
                                <img src="{{ asset('build/images/testimonials/banner-txt.svg') }}" class="img-fluid" alt=""/>
                            </div>
                            <p class="txt-dr">
                                Nos gustaría decirte que somos los mejor, pero preferimos que nuestros pacientes te compartan su experiencia.
                            </p>
                            <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                                <a href='{{ path('contact') }}' class='btn btn-lg btn-primary'>
                                    Contáctalo ahora
                                </a>
                                <a href='{{ path('service') }}' class='btn btn-lg btn-ser'>
                                    Especialidades
                                </a>
                            </div>
                        </div>
                        {% include 'elements/_picture.html.twig' with {
                            'mobileImage':  asset('build/images/testimonials/banner-m.png'),
                            'desktopImage':  asset('build/images/testimonials/banner.png')
                        } %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-hands">
            <div class="col-md-6 offset-md-14">
                <div class="wrap-module-txt p-y-5">
                    <h3>
                        El mejor trato<br> es contigo
                    </h3>
                    <p>Tenemos un compromiso permanente con nuestros pacientes, ofreciéndoles un trato profesional y cálido, diagnósticos precisos, tratamientos e intervenciones que regresen sus calidad de vida.</p>
                    <a href="{{ path('service') }}" class="btn btn-primary m-t-3">Ver servicios</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-24 p-0">
                {# TESTIMONIOS #}
                <div class="testimony bg-testimony">
                    <div class="wrap-module-txt text-center mb-5">
                        <h3>
                            Ellos hablan por nosotros
                        </h3>
                    </div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for testimonial in testimonials %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <div class="customer-avatar">
                                        {% if testimonial.getImageUrl is defined and not(testimonial.getImageUrl == null) %}
                                            <img src="{{ asset(testimonial.getImageUrl) }}">
                                        {% endif %}
                                    </div>
                                    <h3>{{ testimonial.name }}</h3>
                                    <span>{{ testimonial.profession }}</span>
                                    <div class="stars-container">
                                        <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                        <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                        <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                        <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                        <img class="active" src="{{ asset('build/images/icons/star.svg') }}">
                                    </div>
                                    <p>
                                        {{ testimonial.textContent }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="carousel-controls">
                            <div class="control-buttons">
                                <a href="#carouselExampleControls" role="button" data-slide="prev" title="Regresar">
                                    <img src="{{ asset('build/images/icons/right.svg') }}" alt="Regresar">
                                </a>
                                <span class="v-line"></span>
                                <a href="#carouselExampleControls" role="button" data-slide="next" title="Avanzar">
                                    <img src="{{ asset('build/images/icons/right.svg') }}" alt="Avanzar">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('service') }}" class="btn btn-primary">Contacta al Doctor</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
