{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include 'home/_slider.html.twig' %}
        {% include 'home/_bienvenida.html.twig' %}
        {% include 'home/_servicios.html.twig' %}
        {% include 'home/_especialista.html.twig' %}

        {% include 'home/_aseguradoras_slider.html.twig' %}


    </div>




    <!-- Modal -->
    <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class=" model-video modal-dialog-centered modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {# <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> #}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <iframe width="840" height="475" src="https://www.youtube-nocookie.com/embed/JaPs5-iXxzA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
