{% extends 'base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-24 p-0 wrap-slider img-bg-light">
                <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                    <div class="slide position-relative">
                        <div class='cont-tex about'>
                            <div class="txt-img">
                                <img src="{{ asset('build/images/contact/banner-txt.svg') }}" class="img-fluid" alt=""/>
                            </div>
                            <p class="txt-dr">
                                Estamos aquí para ti. Ponte en contacto con nosotros ya sea por teléfono o mensaje y nuestro equipo estará encantado de ayudarte en lo que necesites.
                            </p>
                            <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                                <a href='tel:5611319233' class='btn btn-lg btn-primary'>
                                    Urgencias: 56 1131-9233
                                </a>
                                <a href="https://wa.me/5215611319233" target="_blank" class='btn btn-lg btn-ser'>
                                    <img src="{{ asset('build/images/icons/wa.svg') }}" class="d-inline-block btn-icon">
                                    Enviar mensaje
                                </a>
                            </div>
                        </div>
                        {% include 'elements/_picture.html.twig' with {
                            'mobileImage':  asset('build/images/contact/banner-m.png'),
                            'desktopImage':  asset('build/images/contact/banner.png')
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contact-container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-4">
                <div class="action">
                    <h3>
                        HMG Hospital
                    </h3>
                    <p class="text-muted mb-0">Llama al <img class="mx-3" src="{{ asset('build/images/icons/phone.svg') }}"><a class="bold" href="tel:5594619636">55 9461-9636</a></p>
                </div>
            </div>
            <div class="col-md-10 mb-4">
                <div class="action">
                    <h3>
                        Hospital Ángeles
                    </h3>
                    <p class="text-muted mb-0">Llama al <img class="mx-3" src="{{ asset('build/images/icons/phone.svg') }}"><a class="bold" href="tel:5556013716">55 5601-3716</a></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-20 col-md-16 of">
                <div class="wrap-module-txt text-center p-y-5">
                    <h3>
                        <span>
                            CONTACTO
                        </span><br>
                        Agenda o déjanos tus datos
                    </h3>
                    <p>
                        El bienestar de nuestros pacientes es lo más importante, envíe el formulario con los datos solicitados y a la brevedad le contactaremos.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-20 col-md-12">
                <img src="{{ asset('build/images/contact/dr.png') }}" class="img-fluid" alt=""/>
            </div>
            <div class="col-20 col-md-12">
                <a id="zl-url" class="zl-url" href="https://www.doctoralia.com.mx/sergio-garcia-tenorio/ortopedista-traumatologo/coyoacan" rel="nofollow" data-zlw-doctor="sergio-garcia-tenorio" data-zlw-type="big_with_calendar" data-zlw-opinion="false" data-zlw-hide-branding="true">Sergio García Tenorio - Doctoralia.com.mx</a>
                <script>!function ($_x, _s, id) {
                        var js, fjs = $_x.getElementsByTagName(_s)[0];
                        if (!$_x.getElementById(id)) {
                            js = $_x.createElement(_s);
                            js.id = id;
                            js.src = "//platform.docplanner.com/js/widget.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "zl-widget-s");</script>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 mb-4 mb-lg-0">
                <div class="map-container">
                    <nav class="nav nav-pills mb-3 d-flex flex-column flex-sm-row nav-pills-simple" id="pills-tab" role="tablist">
                        <a class="flex-sm-fill text-sm-center nav-link active" id="pills-first-tab" data-toggle="pill" data-target="#pills-first" role="tab" aria-controls="pills-first" aria-selected="true">
                            <span class="ico-wrap">
                                <img src="{{ asset('build/images/icons/ico-hmg.svg') }}" class="img-fluid">
                            </span>
                            <span class="txt-wrap">Hospital HMG</span>
                        </a>
                    </nav>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-first" role="tabpanel" aria-labelledby="pills-first-tab">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.9462763587176!2d-99.14562493460079!3d19.328137399019933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5b39696a9d603692!2sTorre%20de%20Especialidades%20Medicas%20HMG%20Hospital%20Coyoacan!5e0!3m2!1ses-419!2smx!4v1610050824732!5m2!1ses-419!2smx" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            <div>
                                <div class="d-flex">
                                    <p class="text-muted my-5 ml-3">
                                        <span class="ico-wrap">
                                            <img src="{{ asset('build/images/icons/ico-location.svg') }}" alt="" class="img-fluid">
                                        </span>
                                        <span class="txt-wrap">
                                            HMG Hospital Coyoacán, Av. División del Nte. 3395, El Rosario, Coyoacán Consultorio 521
                                        </span>
                                    </p>
                                </div>
                                <a href='https://goo.gl/maps/jc57acrDtTKm65FK8' target="_blank" class='btn btn-lg btn-light d-block'>VER EN MAPS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4 mb-lg-0">
                <div class="map-container">
                    <nav class="nav nav-pills mb-3 d-flex flex-column flex-sm-row nav-pills-simple" id="pills-tab" role="tablist">
                        <a class="flex-sm-fill text-sm-center nav-link active" id="pills-first-tab" data-toggle="pill" data-target="#pills-first" role="tab" aria-controls="pills-first" aria-selected="true">
                            <span class="ico-wrap">
                                <img src="{{ asset('build/images/icons/ico-ha.svg') }}" class="img-fluid">
                            </span>
                            <span class="txt-wrap">Hospital Ángeles</span>
                        </a>
                    </nav>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-first" role="tabpanel" aria-labelledby="pills-first-tab">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.098786347193!2d-99.16832509999999!3d19.3648748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff0a271f3adb%3A0x4f7b6ed1a5c6dac!2sHospital%20Angeles%20Universidad!5e0!3m2!1ses-419!2smx!4v1663902588699!5m2!1ses-419!2smx" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            <div>
                                <div class="d-flex">
                                    <p class="text-muted my-5 ml-3">
                                        <span class="ico-wrap">
                                            <img src="{{ asset('build/images/icons/ico-location.svg') }}" alt="" class="img-fluid">
                                        </span>
                                        <span class="txt-wrap">
                                            Hospital Ángeles Universidad, Módulo 4030,
                                            Av. Universidad #1080, Xoco, Benito Juárez, CDMX.
                                        </span>
                                    </p>
                                </div>
                                <a href='https://goo.gl/maps/qEKbpCFjencVcJU88' target="_blank" class='btn btn-lg btn-light d-block'>VER EN MAPS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
