<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Traumatólogo Ortopedista | Dr. Sergio García | {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="bg-main">
<div class="site-wrap">
    {% block header %}
        {% include 'admin/layout/header.html.twig' %}
    {% endblock %}

    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% block footer %}
        {% include 'admin/layout/footer.html.twig' %}
    {% endblock %}
</div>
</body>
</html>

