{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}
{% block body %}


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary whatsapp cita d-none" data-toggle="modal" data-target="#cita">
        Cita
    </button>

    <!-- Modal -->
    <div class="modal fade" id="cita" tabindex="-1" role="dialog" aria-labelledby="citaTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body p-md-5">
                    {{ form_start(form, {'method': 'post', 'action': path('app_citas'), 'attr': {'class': 'modal-form', 'id':'123'} }) }}
                    <div class="form-row m-md-b-2">
                        <div class="form-group col-md-12">
                            {{ form_label(form.nombre) }}
                            {{ form_widget(form.nombre,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.nombre) }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form_label(form.telefono) }}
                            {{ form_widget(form.telefono,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.telefono) }}
                        </div>
                    </div>
                    <div class="form-row m-md-b-2">
                        <div class="form-group col-md-24">
                            {{ form_label(form.situacion) }}
                            {{ form_widget(form.situacion,{'attr':{'class':'form-control','rows':'4'}}) }}
                            {{ form_errors(form.situacion) }}
                        </div>
                    </div>

                    <div class="form-row m-md-b-2">
                        <div class="form-group col-md-24">
                            {{ form_label(form.filename) }}
                            <p><small>Solo archivo .pdf, .jpg o png</small></p>
                            {{ form_widget(form.filename,{'attr':{'class':'form-control-file','rows':'4'}}) }}
                            {{ form_errors(form.filename) }}
                        </div>
                    </div>


                    <div class="col-24 m-y-4">
                        <button type="submit" class="btn btn-block btn-primary">
                            ENVIAR
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block footer %}

{% endblock %}
