

    <div class="admin-wrap h-100">
        <div class="container d-flex h-100 justify-content-center">
            <div class="row align-self-center">
                <div class="col-24">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="form-wrap">

                        <h1>Bienvenido de vuelta</h1>
                        <p class="mb-5">Ingresa tus credenciales para acceder al administrador</p>

                        <form action="{{ path('login') }}" method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Escribe tu correo electrónico"/>
                            </div>

                            <div class="input-group mb-5">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="password" id="password" name="_password" value="{{ last_username }}" class="form-control" placeholder="Contraseña"/>
                            </div>


                            {# If you want to control the URL the user is redirected to on success
                            <input type="hidden" name="_target_path" value="/account"/> #}

                            <button type="submit" class="btn btn-block btn-lg btn-primary">ENVIAR</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

