{% extends 'base.html.twig' %}

{% block title %}Padecimientos{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-24 p-0  wrap-slider img-bg-light">
                <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                    <div class="slide position-relative">
                        <div class='cont-tex about'>
                            <div class="txt-img">
                                <img src="{{ asset('build/images/ailing/banner-txt.svg') }}" class="img-fluid"/>
                            </div>
                            <p class="txt-dr">
                                Si estas padeciendo dolor o una lesión musculo esquelética, tienen que ser valoradas integralmente, un diagnóstico certero es el principio para una recuperación satisfactoria.
                            </p>
                            <div class='d-flex m-t-4 flex-column flex-sm-row btn-gap'>
                                <a href='{{ path('contact') }}' class='btn btn-lg btn-primary'>
                                    Contáctalo ahora
                                </a>
                                <a href='{{ path('service') }}' class='btn btn-lg btn-ser'>
                                    Especialidades
                                </a>
                            </div>
                        </div>
                        {% include 'elements/_picture.html.twig' with {
                            'mobileImage':  asset('build/images/ailing/banner-m.png'),
                            'desktopImage':  asset('build/images/ailing/banner.png')
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-20 col-lg-16">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Busca una palabra, servicio o padecimiento...">
                    <button class="btn btn-primary" type="button" name="button">
                        <img class="mr-3" src="{{ asset('build/images/icons/search.svg') }}" alt="">
                        <span class="d-none d-md-inline">Búsqueda</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-ailing">
        <div class="col-md-8 offset-md-14">
            <div class="wrap-module-txt  p-y-5">
                <h3>
                    <span>SOBRE LOS</span>
                    <br>
                    Padecimientos
                </h3>
                <p>Las alteraciones del sistema musculoesquelético, ya sea por alteraciones de tipos congénitos o adquiridos del organismo, tienen importantes repercusiones en los ámbitos laboral, económico, psicosocial y familiar de las personas adultas.</p>
                <p>En los países desarrollados estos padecimientos se consideran un problema de salud pública con las repercusiones socioeconómicas que lleva consigo.</p>
                <a href="{{ path('contact') }}" class="btn btn-primary m-t-3">Contactar</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-24 p-0">
            <div class="ailing-map bg-map">
                <div class="wrap-module-txt mb-5 text-center">
                    <h3>
                        <span>MAPA DE PADECIMIENTOS</span>
                        <br>
                        Áreas de Especilidad
                    </h3>
                    <p>Selecciona una de las diferentes areas de tratamiento que cubré el Dr.</p>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-8 order-2 order-lg-0 mt-5 mt-lg-0 d-flex align-items-center justify-content-center ailings-fade ailing-example">
                        <div>
                            <span class="text-small">Ejemplo</span>
                            <span class="bold color-blue-dark d-block preview-name">Hombro Congelado</span>
                            <img class="preview img-fluid mt-4" src="{{ asset('../ailings/image001.png') }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 order-0 order-lg-1">
                        {% include 'ailing/_body_map.html.twig' %}
                    </div>
                    <div class="col-sm-12 col-lg-8 order-1 order-lg-2 d-flex align-items-center ailings-fade">
                        <div>
                            <div class="d-flex align-items-center mb-4">
                                <img class="m-n4 body-icon" src="{{ asset('build/images/icons/hombro_blue.svg') }}" alt="">
                                <h4 class="bold color-blue-dark d-block body-part-title">Hombro</h4>
                            </div>
                            <ul class="ailing-list">
                                <li class="active" data-description="El hombro congelado es una enfermedad que provoca una disminución progresiva del movimiento del hombro por inflamación y retracción de los ligamentos de la articulación glenohumeral." data-image="{{ asset('../ailings/image001.png') }}">Hombro Congelado</li>
                                <li data-description="Un desgarro en el manguito de los rotadores ocurre cuando uno de los tendones se desprende del hueso a raíz de una sobrecarga o lesión." data-image="{{ asset('../ailings/image002.png') }}">Ruptura de Manguito Rotador</li>
                                <li data-description="La tendinitis del bíceps es la inflamación que sucede en la porción larga del tendón del bíceps. Aparece como un dolor en el hombro, concretamente en la parte delantera y asocia debilidad." data-image="{{ asset('../ailings/image003.jpg') }}">Tendinitis del Bíceps</li>
                                <li data-description="Es el desencajamiento total de la articulación formada entre la cabeza del húmero y la cavidad glenoidea." data-image="{{ asset('../ailings/image004.png') }}">Luxación de hombro</li>
                                <li data-description="La Artrosis Glenohumeral es una enfermedad que lesiona el cartílago articular del hombro y origina dolor, rigidez e incapacidad funcional." data-image="{{ asset('../ailings/image005.jpg') }}">Artrosis glenohumeral</li>
                            </ul>
                            <hr>
                            <p class="description">El hombro congelado es una enfermedad que provoca una disminución progresiva del movimiento del hombro por inflamación y retracción de los ligamentos de la articulación glenohumeral.</p>
                        </div>
                    </div>
                </div>

                <a href="{{ path('contact') }}" class="btn btn-primary mb-n3">Contacta al Doctor</a>
            </div>
        </div>
    </div>
{% endblock %}
