<footer class="mainfooter" role="contentinfo">
    <div class="footer-alt">
        <div class="container">
            <div class="row m-t-5">
                <div class="col-md-12 ">
                    <div class="footer-pad">
                        <p>© {{ 'now' | date('Y') }} Dr. Sergio García Tenorio | Derechos reservados</p>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <div class="footer-pad">
                        <ul class="list-unstyled">
                            <li><a href="{{path('privacy')}}">Políticas de Privacidad</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
