<nav class="navbar navbar-light navbar-expand-lg p-lg-4 wrap-menu {% if app.request.get('_route') != 'home' %}home{% endif %}">
    <a class="navbar-brand ml-lg-3" href="{{ path('home') }}">
        <picture>
            <source
                    srcset="{{ asset('build/images/template/logo-dark.svg') }}"
                    media="(min-width: 992px)"
            />
            <img class="img-fluid"
                 src="{{ asset('build/images/template/logo-icon.svg') }}"
            />
        </picture>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if app.request.get('_route') == 'home' %}active{% endif %}">
                ¿No deberías estar aqui?
                <a class="nav-link btn btn-outline-primary" href="{{ path('home') }}">Regresar al sitio</a>
            </li>
        </ul>
    </div>
</nav>
