//BOOTSTRAP OVERRIDES
$grid-columns: 24;
// FONTS
$min_width: 320px;
$max_width: 1960px;
$min_font: 1.5px;
$max_font: 10px;

$grid-columns: 24;


$fontregular: 'Gilroy';
$fontspecial: 'Playfair Display';


//COLORS
$black: #000000;
$white: #ffffff;
$yellow: #EBA45D;
$green: #458062;
$orange: #e58d44;
$pink: #ff009c;
$blue: #26B2FF;
$blueDark: #003A59;
$gray: #f2f2f2;
$muted: #83898C;
$cyan: #00AEE8;


$zetter-theme-colors: (
        "stable": $gray,
        "positive": $blue,
        "calm": $cyan,
        "balanced": $green,
        "energized": $yellow,
        "assertive": $orange,
        "royal": $pink,
        "harmony": $pink
);

//FONTS
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-serif: $fontspecial;
$font-family-base: $fontregular, $font-family-sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.1671;

$font-weight-thin: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$headings-font-weight: $font-weight-normal;
$headings-line-height: $line-height-base;

$h1-font-size: $font-size-base * 4.2;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 2.6;
$h4-font-size: $font-size-base * 2.4;
$h5-font-size: $font-size-base * 2.2;
$h6-font-size: $font-size-base * 1.6;

$headings-font-weight: $font-weight-bold;

$small-font-size: 85.7142857%;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;


$slick-dot-size: 16px;
$slick-opacity-default: 1;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 1;
