@import "variables";
@import '../fonts/stylesheet.css';
@import '../css/zetter.scss';
@import '~bootstrap';
@import "sizes";
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme.scss';


html, body {
  font-size: $max_font;
  height: 100vh;
  overflow: auto;
}

body {
  padding-top: 52px;
  z-index: -1000;
  position: relative;
  @include media(lg) {
    padding-top: 0;
  }
}

.btn-primary {
  background: #1472FF;
  border-radius: 39px;
  color: $white;
  padding: 1rem 3.5rem;
  @include media-breakpoint-down(lg) {
    padding: 1rem 3rem;
  }
  font-size: 1.4rem;
  border: none;
}

.btn-outline-primary {
  background: $white;
  border: 2px solid #30C4FF;
  box-sizing: border-box;
  border-radius: 39px;
  font-size: 1.4rem;
  padding: 1rem 3.5rem;

}

.btn {
  font-size: 1.8rem;
  @include media-breakpoint-down(lg) {
    font-size: 1.6rem;
  }
  font-weight: 500;
}

.btn-ser {
  background: $white;
  border-radius: 39px;
  color: #1472FF;
  padding: .9rem 2.2rem;
}

.btn-red {
  background: #ff0038;
  border-radius: 39px;
  color: $white;
  padding: .9rem 2.2rem;
}

.btn-cli {
  background: #FFFFFF;
  box-shadow: 0px 9px 25px rgba(0, 77, 112, 0.15);
  border-radius: 39px;
  color: #0A5C7E;
  padding: .9rem 2.2rem;
}

.bg-module {
  background-image: url("../images/home/bg.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;

}

.bg-lun {
  background-image: url("../images/template/lun.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 25rem;
  margin-top: -12rem;
}

.btn-light {
  background: #E7FBFF;
  color: #35D0FF;
  border-radius: 40px;
  font-size: 2.5rem;
}

.btn-border {
  background: transparent;
  color: $blueDark;
  border: $blue 2px solid;
  border-radius: 39px;
  padding: 1.25rem 2.2rem;
}

.txt-sm {
  font-size: 1.5rem !important;
}

.text-muted {
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: $muted;
}

.text-small {
  color: $muted;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  line-height: 2.5rem;
}

.bold {
  font-weight: bold;
  font-size: 2rem;
  color: $black;
}

.color-blue-dark {
  color: $blueDark;
}

.bg-dedicado {
  background-image: url("../images/about/img-especialidad.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 55vw;
  @include media-breakpoint-up(sm) {
    background-size: cover;
    padding-bottom: 0;
    background-image: url("../images/about/banner-2.png");
  }
}

.area-container {
  background: $white;
  box-shadow: 0px 12px 30px rgba(74, 131, 157, 0.08);
  border-radius: 39px;
  padding: 3rem 2rem;
  text-align: center;
  transition: all .3s;

  &:hover {
    background: #F0FCFF;
    box-shadow: 0px 12px 60px rgba(0, 77, 112, 0.12);
    text-decoration: none;
  }
}

@include media-breakpoint-only(xs) {
  .container-fluid {
    & > .row {
      & > div[class^='col-'] {
        padding-left: 20px;
        padding-right: 20px;
      }

    }
  }
}

.container-max {
  background: $white;
  position: fixed;
  @include media-breakpoint-up(sm) {
    position: sticky;
  }
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2001;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);

}

.wrap-menu {

  padding-left: 15px;
  padding-right: 15px;
  @include media-breakpoint-up(sm) {
    margin: 0 10%;
  }

  .navbar-brand {
    @include media-breakpoint-only(xs) {
      max-width: 3.5rem;
    }
  }


  .navbar-toggler {
    border: none;

    .navbar-toggler-icon {
      width: 2.5em;
      height: 2.5em;
    }
  }

  .navbar-collapse {
    padding: 1rem 0;
    @include media-breakpoint-only(xs) {
      .navbar-nav {
        margin: 3rem 0;

        li {
          margin: 0 0 1.5rem 0;

          .dropdown-item {
            padding: 0;
            font-size: 2rem;
            color: $blue !important;

            &:active,
            &.active {
              background-color: transparent !important;
              color: $blueDark !important;
            }

            &:hover, &:focus {
              background-color: transparent !important;
            }
          }
        }

        a {
          font-size: 2.4rem
        }
      }

    }
  }

  li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    @include media(lg) {
      > a {
        color: $white !important;
      }
      &.active {
        a {
          color: $blueDark !important;
        }
      }
    }
  }

  .dropdown-menu {
    border: none;
    border-radius: 8px;
    padding: 2rem 1rem;
    margin-top: -1px;

    a {
      font-size: 1.25rem;
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &.home {
    @include media-breakpoint-up(xs) {
      li {
        > a {
          color: $blue !important;
        }

        &:active,
        &.active {
          a {
            background-color: transparent !important;
            color: $blueDark !important;
          }
        }

        &:hover, &:focus {
          a {
            background-color: transparent !important;
          }
        }
      }
    }
  }

  @include media(lg) {
    li {
      margin: 0 2rem;
    }
  }
  @include media-breakpoint-down(xl) {
    li {
      margin: 0 1rem;
    }
  }
}

.about-cont {
  background-color: #fff;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 45px 55px rgba(119, 165, 186, 0.2);

  h4 {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 17px;
    color: $blueDark;

    span {
      font-style: normal;
      font-size: 1.2rem;
      line-height: 17px;
      color: #83898C;
    }
  }

  .btn-con {
    background: #C7EDFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 31px;
  }

  tr {
    align-items: center;
  }

  .icon {
    min-width: 6rem;
  }
}

.wrap-slider {
  @include media-breakpoint-only(xs) {
    background-image: url(../images/slider/m/bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    &.img-bg-light {
      background-image: url(../images/template/bg-light.png);
    }
  }


  &.home {
    .cont-tex {
      top: 8%;
    }

    @include media(lg) {
      .cont-tex {
        top: 40%;
        transform: translateY(-50%);
      }
    }
  }

  picture {
    img {
      margin: auto;
    }
  }

  .videoplayer-wrap {
    position: absolute;
    border-radius: 1.3rem;
    overflow: hidden;
    -webkit-box-shadow: 0 15px 65px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .2);
  }

  @include media-breakpoint-only(xs) {
    .videoplayer-wrap {
      bottom: 5rem;
      left: 0;
      width: calc(100vw - 6rem);
      top: initial;
    }
  }
  @include media-breakpoint-up(sm) {
    .videoplayer-wrap {
      top: 30%;
      right: 6.3%;
      width: 24.6vw;
    }
  }

  .cont-tex {
    top: 25%;
    left: 10%;
    max-width: 90vw;

    @include media-breakpoint-only(xs) {
      margin: 3rem auto;
      min-height: 33vh;
      padding-top: 3rem;
    }
    @include media-breakpoint-up(sm) {
      max-width: 50%;
      position: absolute;
    }
    @include media(md) {
      top: 33%;
      max-width: 40%;
    }
    @include media(xl) {
      max-width: 35%;
      &.extra-space {
        max-width: 41%;
      }
    }

    h1 {
      &.fw-normal {
        font-weight: 400 !important;;

        strong {
          font-weight: 700 !important;
        }
      }

      &.txt-dark {
        color: #005680;
      }

      span {
        font-size: 2rem;
        color: #005680;
        font-weight: normal;
        font-family: $fontspecial;
      }

      & > i {
        font-style: normal;
        font-size: .85em;
      }

      font-size: 3rem;
      line-height: 3rem;
      color: $white;
      font-family: $fontregular;
      font-weight: 700;
      @include media(sm) {
        font-size: 3.5rem;
        line-height: 1.2em;
        span {
          font-size: 2rem;
        }
      }
      @include media(xl) {
        font-size: 6.1rem;
        line-height: 5.2rem;
        span {
          font-size: 3.3rem;
        }
      }
      @include media(xxl) {
        font-size: 6.5rem;
      }
    }

    p {
      color: $white;
      font-size: 1.8rem;
      margin-top: 2rem;

      line-height: 2rem;
      display: inline-block;
      @include media(md) {
        max-width: 70%;

      }
    }

    a {
      display: inline;
    }
  }

  .about {
    .txt-img {
      img {
        @include media(md) {
          max-width: 70%;
        }
      }
    }

    .txt-dr {
      color: #5E9EBC;
    }
  }

  .about-cont {
    position: absolute;
    right: 35%;
    bottom: 8%;


  }

  .agenda {
    position: absolute;
    top: 20%;
    right: 5%;
  }
}

.wrap-module-service {
  h4 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.7rem;
    text-align: center;
    color: $blueDark;
    margin-top: 2rem;
  }

  p {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.3em;
    color: #83898C;
  }

  a {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 3.3rem;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2FC2FF;
  }


}

.wrap-module-txt {
  text-align: center;
  @include media-breakpoint-only(xs) {
    width: 100%;
  }

  h3 {
    font-family: $fontspecial;
    color: $blueDark;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    letter-spacing: 0.25rem;
    @include media-breakpoint-up('sm') {
      font-size: 4.7rem;
    }

    span {
      font-size: 1.9rem;
      color: #3ADCFF;
      font-family: $fontregular;
    }
  }

  p {
    font-weight: 500;
    color: #83898C;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    @include media-breakpoint-up(sm) {
      column-gap: 1.5rem;
    }
    display: inline-block;
    margin-top: 3rem;
    text-align: left;
    @include media-breakpoint-up(sm) {
      margin-top: 5rem;
    }

    li {
      margin-bottom: 1.5rem;
      list-style: none;
      display: flex;
      font-size: 2rem;
      font-weight: 700;
      align-items: center;
      color: $blueDark;

      img {
        margin-right: 1rem;
      }
    }
  }

  @include media(lg) {
    text-align: left;
  }

}

.wrap-about-a {

  .line {
    position: absolute;
    top: 45%;
    max-width: 70%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    @at-root .alt-line{
      .line{
        max-width: 50%;
      }
    }
  }

  .icons {
    h4 {
      font-weight: 700;
      font-size: 2.2rem;
      line-height: 31px;
      text-align: center;
      color: $blueDark;

      span {
        font-size: 1.8rem;
        line-height: 31px;
        text-align: center;
        color: #37D5FF;

      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}


footer {
  color: white;
  z-index: -1;
  position: relative;
  text-align: center;
  @include media(md) {
    text-align: left;
  }
}

footer a {
  color: #bfffff;
}

footer a:hover {
  color: white;
}

.footer-bottom {
  background: linear-gradient(227.11deg, #3ADCFF -12.51%, #009FF7 94%);
}

.footer-middle {
  background: linear-gradient(227.11deg, #3ADCFF -12.51%, #009FF7 94%);
  color: white;
  padding-bottom: 6rem;

  .footer-pad {
    h4 {
      font-size: 1.8rem;
      font-family: $fontspecial;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    a {
      margin-bottom: 1rem;
      color: white;
      display: inline-block;
      font-size: 1.6rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}

.subnavigation-container {
  background: linear-gradient(227.11deg, #3ADCFF -12.51%, #009FF7 94%);
}

.subnavigation .nav-link {
  color: white;
  font-weight: bold;
}

.subnavigation-container {
  text-align: center;
}

.subnavigation-container .navbar {
  display: inline-block;
}

.col-subnav a {
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}

.col-subnav .active {
  border-top: 5px solid orange;
  background: white;
  color: black;
}

.wrap-contac {
  margin-bottom: -13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  background-color: $white;
  border-radius: 1.3rem;
  padding: 3rem;
  -webkit-box-shadow: 0 65px 60px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 65px 60px 0 rgba(0, 0, 0, .2);

  tr {
    background: #FFFFFF;
    box-shadow: 0px 39px 100px rgba(0, 77, 112, 0.12);
    border-radius: 39px;
    padding: 4rem;
  }

  label {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 24px;
    color: $blueDark;
    margin-top: .7rem;
  }

  .form-control {
    border: 1px solid #CBE0E4;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 2rem;

    &:focus {
      box-shadow: 0 0 0 0.1rem #30C4FF;
      border-color: #30C4FF !important;
    }
  }

  textarea {
    height: 150px;
    max-height: 170px;
  }
}

.testimony-carousel {
  .carousel-item {
    padding: 5rem 4rem;
  }

  .testimony-container {
    background: $white;
    box-shadow: 0px 12px 60px rgba(0, 77, 112, 0.12);
    border-radius: 39px;
    padding: 3rem;

    h3 {
      color: $blueDark;
      font-weight: bold;
    }

    span {
      color: $blueDark;
      font-size: 1.5rem;
    }

    .avatar {
      margin-top: -6rem;
    }

    .stars-container {
      padding: 1rem 0;

      img {
        width: 15px;
        margin: 0 0.1rem;
      }
    }

    .quote {
      font-family: $fontspecial;
      font-size: 22px;
      line-height: 37px;
      color: $muted;
    }

    .controls {
      position: absolute;
      right: 0;
      bottom: 0;

      a {
        padding: 0 1rem;
        display: inline-block;
        position: relative;

        img {
          filter: brightness(0);
          opacity: 0.1;
          transition: all .3s;
        }

        &:hover {
          img {
            filter: none;
            opacity: 1;
          }
        }

        &:first-child {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.stars-container {
  padding: 3rem 0 1rem 0;

  img {
    margin: 0 0.25rem;

    &:not(.active) {
      filter: grayscale(1);
    }
  }
}

.card {
  &.rounded-card {
    border: 3px #DCECF1 solid;
    border-radius: 40px;
    padding: 3rem;
  }
}

.search-container {
  background: #FFFFFF;
  box-shadow: 0px 39px 100px rgba(0, 77, 112, 0.12);
  border-radius: 39px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  margin-top: -4rem;
  margin-bottom: 7rem;
  opacity: 0;
  pointer-events: none;

  input {
    border: 0;
    font-size: 1.5rem;
    flex-grow: 1;
    margin-right: 3rem;

    &:focus {
      outline: none;
    }
  }

  button {
    font-size: 1.5rem;
  }

  @include media(lg) {
    button,
    input {
      font-size: 2rem;
    }
  }
}

.bg-testimony {
  background-image: url('../images/testimonials/bg-testimony.png');
  background-position: center top 5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.testimony {
  padding-top: 7rem;
  text-align: center;

  .carousel {
    margin-bottom: 5rem;

    .carousel-item {
      text-align: center;

      .customer-avatar {
        overflow: hidden;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: 5px $white solid;
        box-shadow: 0px 10px 40px rgba(100, 158, 151, 0.19);
        margin: auto;
        margin-bottom: 5rem;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      h3 {
        font-size: 4rem;
        margin-bottom: 0;
        font-family: $fontregular;
        font-weight: bold;
        color: $blueDark;
      }

      span {
        color: $blueDark;
        font-size: 24px;
      }

      p {
        margin: 4rem auto;
        max-width: 1000px;
        color: $muted;
        font-family: $fontspecial;
        line-height: 3rem;
        font-size: 2rem;
      }
    }

    .carousel-controls {
      display: flex;
      justify-content: center;

      .control-buttons {
        display: flex;
        align-items: center;
        background: $white;
        box-sizing: border-box;

        a {
          padding: 0 1rem;
          display: inline-block;

          img {
            filter: brightness(0);
            opacity: 0.1;
            transition: all .3s;
          }

          &:hover {
            img {
              filter: none;
              opacity: 1;
            }
          }

          &:first-child {
            img {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  @include media(md) {
    .carousel-item {
      p {
        font-size: 3rem;
        line-height: 5rem;
      }
    }
  }
}

.bg-hands {
  background-image: url("../images/testimonials/bg-hands.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 3rem;
  margin-top: -4rem;
  @include media-breakpoint-up('sm') {
    min-height: 650px;
  }
}

.contact-container {
  margin-bottom: -22rem;

  .map-container {
    background: #FFFFFF;
    box-shadow: 0px 67.6217px 59.5071px rgba(83, 142, 168, 0.2), 0px 4.0573px 40.573px rgba(94, 188, 240, 0.15);
    border-radius: 12px;
    padding: 2rem;

    iframe {
      width: 100%;
      height: 360px;
      border-radius: 10px;
    }
  }

  .wrap-contac {
    margin-bottom: 0;

    tr {
      box-shadow: 0px 67.6217px 59.5071px rgba(83, 142, 168, 0.2), 0px 4.0573px 40.573px rgba(94, 188, 240, 0.15);
      border-radius: 12px;
    }
  }

  .action {
    background: #FFFFFF;
    box-shadow: 0px 67.6217px 59.5071px rgba(83, 142, 168, 0.2), 0px 4.0573px 40.573px rgba(94, 188, 240, 0.15);
    border-radius: 12px;
    padding: 2rem;
    text-align: center;

    h3 {
      font-size: 3rem;
      color: $blue;
      margin-bottom: 1rem;
    }
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.services-container {
  .service {
    margin-bottom: 3rem;
    text-align: center;

    > tr {
      border-radius: 250px;
      background: linear-gradient(245.88deg, #E3FAFF 54.69%, #DCF3FF 73.91%);
      padding: 3rem;

      h3 {
        color: $blueDark;
        font-size: 48px;
        font-family: $fontregular;
        font-weight: 600;
      }
    }

    &:nth-of-type(odd) {
      > tr {
        background: linear-gradient(249.03deg, #F5FDFF 9.86%, #F2FAFF 87.03%);
        flex-direction: row-reverse;
      }
    }

    @include media(lg) {
      text-align: left;
      &:nth-of-type(odd) {
        > tr {
          padding-left: 10rem;
        }
      }
      &:nth-of-type(even) {
        > tr {
          padding-right: 15rem;
        }
      }
    }
  }
}

.bg-tratamiento {
  @extend .bg-section;
  background-image: url("../images/services/ortopedia/tratamiento.png");
}

.bg-cirugia {
  @extend .bg-section;
  background-image: url("../images/services/cirugia/tratamiento.png");
}

.bg-artroscopia {
  @extend .bg-section;
  background-image: url("../images/services/artroscopia/tratamiento.png");
}

.bg-reemplazo {
  @extend .bg-section;
  background-image: url("../images/services/reemplazo/tratamiento.png");
}

.bg-lesiones {
  @extend .bg-section;
  background-image: url("../images/services/lesiones/tratamiento.png");
}

.bg-bottom {
  background-image: url('../images/services/bg-bottom.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3rem;
  @include media(lg) {
    padding: 8rem 15rem;
  }
}

.bg-ailing {
  background-image: url("../images/ailing/bg-ailing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 20rem;
  margin-top: -24rem;
}

.bg-map {
  background-image: url('../images/ailing/bg-map.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ailing-map {
  padding: 5rem 3rem;
  text-align: center;

  .preview {
    border: 8px $white solid;;
    border-radius: 5px;
  }

  .ailing-list {
    list-style: none;
    padding-left: 8rem;
    text-align: left;
    font-family: $fontregular;
    font-weight: 600;
    font-size: 18px;
    color: $muted;
    margin-top: -1rem;

    li {
      margin-bottom: 1rem;
      cursor: pointer;

      &:hover,
      &.active {
        color: $blue;
      }
    }
  }

  hr {
    width: 230px;
    margin: 3rem 0;
    border: 1px $blue solid;
  }

  .description {
    text-align: left;
    font-size: 1.75rem;
    line-height: 2.5rem;
    color: $blueDark
  }

  @include media(lg) {
    padding: 5rem 15rem 0 15rem;
  }
}

.body-map {
  width: 100%;
  height: auto;
  max-height: 75vh;

  .body-dot {
    .active-dot {
      opacity: 0;
      transition: all .3s;
    }

    .inactive-dot {
      transition: all .3s;
    }

    &.active {
      .active-dot {
        opacity: 1;
      }

      .inactive-dot {
        opacity: 0;
      }
    }

    &:hover {
      g.active-dot {
        opacity: 1;
      }
    }
  }

  .back-view,
  .front-view {
    transition: all .3s;
  }

  &.front {
    .back-view {
      display: none;
    }

    .front-view {
      display: block;
    }
  }

  &.back {
    .back-view {
      display: block;
    }

    .front-view {
      display: none;
    }
  }

  @include media(lg) {
    max-height: 90vh;
  }
}

.bg-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 14rem;
  padding-bottom: 6rem;
  margin-top: -12rem;
}

.whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;

  img {
    width: 80px;
  }

  @include media(md) {
    bottom: 10rem;
    right: 3rem;
  }
  @include media(lg) {
    img {
      width: auto;
    }
  }
}

.whatsapp.cita {
  @include media(md) {
    bottom: 60%;
    width: 115px;

  }

}

.body-dot {
  cursor: pointer;
}

.nav-pills-simple {
  .nav-link {
    border-radius: 3.9rem;
    background-color: #ECF5F9;
    color: #A8BAC1;
    padding: 1.5rem;
    font-size: 1.6rem;
    line-height: 1em;
    vertical-align: middle;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  .nav-link.active {
    background-color: #E7FBFF;
    color: $blueDark;

    .ico-wrap {
      img {
        filter: none;
      }
    }
  }

  .ico-wrap {
    width: 2.7rem;
    display: inline-block;
    vertical-align: middle;

    img {
      filter: grayscale(1);
    }
  }

  .txt-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
  }
}

.map-container {
  .tab-pane {
    .ico-wrap {
      width: 2.5rem;
      display: inline-block;
      vertical-align: top;
    }

    .txt-wrap {
      display: inline-block;
      width: calc(100% - 3rem);
    }
  }
}

.gradient-title {
  background: linear-gradient(245.88deg, #3ADCFF 54.69%, #26B2FF 73.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-filter {
  background: $white;
  box-shadow: 0 1rem 3rem rgba(0, 77, 112, 0.08);
  border-radius: 3.9rem;
  font-size: 1.6rem;
  padding: .7rem 1rem;

  .ico-wrap {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #F2FBFF;
    border-radius: 4.5rem;
    margin-right: .5rem;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem;

    img {
      filter: invert(94%) sepia(8%) saturate(98%) hue-rotate(151deg) brightness(91%) contrast(90%);
    }
  }

  .txt-wrap {
    display: inline-block;
    vertical-align: middle;
  }

  &.active, &:hover {
    background: linear-gradient(245.88deg, #E3FAFF 54.69%, #DCF3FF 73.91%);

    .ico-wrap {
      background-color: $white;

      img {
        filter: invert(11%) sepia(100%) saturate(7152%) hue-rotate(9deg) brightness(110%) contrast(116%);
      }
    }
  }

  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.pill-danger {
  background-color: #FFECEC;
  color: #FF0000;
  border-radius: 5rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  display: inline-block;
}

.section-blog-wrap {
  margin-top: 3rem;

  h1 {
    font-size: 4rem;
    @include media-breakpoint-up('sm') {
      font-size: 6.4rem;
    }
    color: $blueDark;
  }

  h2 {
    font-size: 1.8rem;
    @include media-breakpoint-up('sm') {
      font-size: 2.8rem;
    }
    color: $blueDark;
  }

  h3 {
    font-size: 1.4rem;
    @include media-breakpoint-up('sm') {
      font-size: 2.4rem;
    }
  }

  a {
    color: inherit;
  }

  p {
    font-size: 1.6rem;
    @include media-breakpoint-up('sm') {
      font-size: 1.8rem;
    }
    color: $muted;
  }

  .blog-posts-wrap {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 3px solid #DCECF1;

    .post-entry-wrap {
      margin-bottom: 2.5rem;

      .img-wrap {
        border-radius: 2rem;
        overflow: hidden;

        a {
          width: 100%;
          height: 24.5rem;
          display: block;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }


      }
    }
  }

  .category-wrap {
    margin: 1rem 0;
  }

  .single-post-wrap {
    padding-top: 8vw;

    .img-wrap {
      border-radius: 2rem;
      overflow: hidden;
    }

    .post-content-wrap {
      font-size: 1.8rem;
      color: $muted;

      h1 {
        font-size: 4.5rem;
      }

      h1, h2, h3, h4, h5, h6 {
        color: $blueDark;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }

      p {
        margin-bottom: 1rem;
      }

      img {
        max-width: 100%;
        height: auto !important;
      }

      ul {
        color: $muted;
        margin-bottom: 1.5rem;
      }

      iframe {
        width: 90vw;
        height: 50.625vw; /* 90*9/16 */
        margin-left: 5vw;
        margin-right: 5vw;
      }

      @media (min-width: 893px) {
        iframe {
          width: 45vw;
          height: 25.3125vw; /* 45*9/16 */
        }
      }

      table {
        width: 100%;
        display: table;
        margin-bottom: 1.5rem;
      }

      @media screen and (max-width: 768px) {
        table {
          display: block;
        }
      }

      tr {
        display: table-row;
        background: $white;
      }


      th {
        color: $white;
        background: $blue;
        padding: .5rem 1rem;
      }


      @media screen and (max-width: 768px) {
        tr {
          display: block;
        }

        th {
          padding: 0;
          height: 0px;
        }

        th td {
          display: none;
        }

        tr td:before {
          color: $muted;
          line-height: 1.2em;
          text-transform: uppercase;
          font-weight: unset !important;

          margin-bottom: 1.3rem;
          content: attr(data-title);
          min-width: 98px;
          display: block;
        }
      }

      td {
        display: table-cell;
        padding: .5rem 1rem;
      }

      @media screen and (max-width: 768px) {
        td {
          display: block;
        }
      }

      tr td {
        color: $muted;
        line-height: 1.2em;
        font-weight: unset !important;

        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #f2f2f2;
      }

      th td {
        font-size: 1.8rem;
        color: $white;
        line-height: 1.2em;
        font-weight: unset !important;

        padding-top: 1.9rem;
        padding-bottom: 1.9rem;
      }

      table, tr {
        width: 100% !important;
      }

      @media (max-width: 768px) {
        tr {
          border-bottom: 1px solid #f2f2f2;
          padding-bottom: 1.8rem;
          padding-top: 3rem;
          padding-right: 1.5rem;
          margin: 0;
        }

        tr td {
          border: none;
          padding-left: 3rem;
          padding-top: 1.6rem;
          padding-bottom: 1.6rem;
        }

        tr td {
          color: $muted;
          line-height: 1.2em;
          font-weight: unset !important;
        }

        table, tr, td {
          width: 100% !important;
        }
      }


      blockquote {
        margin: 0;
        padding: 0;
        position: relative;
        width: 60%;
        min-width: 400px;
        max-width: 820px;
        font-size: 2.8rem;
        line-height: 1.4em;
        text-rendering: optimizeLegibility;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-osx-fon-smoothing: grayscale;
        color: $blueDark;
        margin: 5rem 0;
      }

      blockquote p:first-of-type:before {
        content: '\201c';
        position: absolute;
        left: 0;
        top: -1rem;
        color: $blue;
        font-size: 6rem;
      }


    }
  }
}

.bg-main {
  min-height: 90vh;
  background-color: #F2F6FF;
  height: 0;

  .footer-alt {
    color: $muted;

    a {
      color: $muted
    }
  }
}

.site-wrap {
  height: 100%;

  .form-wrap {
    background-color: $white;
    border-radius: 2rem;
    padding: 6rem 5rem;

    h1 {
      font-size: 3.2rem;
      color: $blueDark;
      text-align: center;
    }

    p {
      font-size: 1.8rem;
      color: #9CB6BF;
      text-align: center;
    }

    .input-group {

      .form-control {
        font-size: 2.2rem;
        border-left: none;
        border-radius: 0 1.3rem 1.3rem 0;
        border-color: #31C8FF;
        padding: 1rem 0;
        height: auto;
      }

      .input-group-text {
        background-color: transparent;
        border-right: none;
        border-radius: 1.3rem 0 0 1.3rem;
        border-color: #31C8FF;

        svg {
          fill: #1472FF;
        }
      }
    }
  }
}

.addthis_inline_share_toolbox {
  height: 35px;
  text-align: right;
}

.wrap-slider {
  .cont-tex {
    .txt-decor {
      h1 {
        position: relative;

        &:before {
          content: "";
          width: 12%;
          position: absolute;
          height: 1.5rem;
          border-radius: 1rem;
          background-color: #A8E2FF;
          top: 1.1em;
          left: -.5rem;
          z-index: 1;
        }

        span {
          position: relative;
          z-index: 2;
          font-weight: 500;
          color: $blueDark;
          font-size: 9rem;
          line-height: 1.05em;
          font-family: 'Gilroy';

        }
      }

      h2 {
        color: $blueDark;
      }
    }
  }
}

.slick-prev, .slick-next {
  z-index: 1040;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5rem;
  width: 5rem;
  top: 75%;
  @include media-breakpoint-up(sm) {
    top: 40%;
  }
  background-color: transparent;

  &:before {
    content: initial !important;
  }
}

.slick-prev, .slick-prev:hover, .slick-prev:focus {
  background-image: url("../images/template/left.svg");
  background-size: contain;
  left: 1.5rem;
  @include media-breakpoint-up(sm) {
    right: 1.5rem;
  }
}

.slick-next, .slick-next:hover, .slick-next:focus {
  background-image: url("../images/template/right.svg");
  background-size: contain;
  right: 1.5rem;
  @include media-breakpoint-up(sm) {
    right: 3rem;
  }
}

.model-video {
  max-width: 920px;
  margin: auto;
}

.aseguradoras-slider {
  .slick-next, .slick-prev {
    top: 50%;
    @include media-breakpoint-only(xs) {
      height: 2.5rem;
      width: 2.5rem;
    }

  }

  .slick-prev, .slick-prev:hover, .slick-prev:focus {
    background-image: url("../images/template/a-left.svg");
    background-size: contain;
    left: -4rem;

  }

  .slick-next, .slick-next:hover, .slick-next:focus {
    background-image: url("../images/template/a-right.svg");
    background-size: contain;
    right: -4rem;
  }

  .logo-wrap {
    max-width: 303px;
    max-height: 89px;
    padding: 0 1.5rem;

    img {
      margin: auto;
    }
  }
}

@include media-breakpoint-up(sm) {
  .slick-track {
    display: flex;
  }

  .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}


.modal-xl {
  max-width: 950px;
}

.modal-content {
  border-radius: 1.35rem;
}

.modal-form {
  font-family: $fontspecial;
  font-weight: bold;
  font-size: 2rem;
  color: $blueDark;

  label {
    margin-bottom: 1.5rem;
  }

  p {
    small {
      font-size: 1.8rem;
      color: $muted;
    }
  }

  .form-control {
    border-color: $blue;
    padding: 1.5rem 3rem;
    font-size: 2.2rem;
    border-radius: 1.25rem;
    height: auto;
    color: $muted;

    &:focus {
      color: $blueDark;
    }
  }

  .btn {
    font-size: 2.8rem;
    font-family: $font-family-base;
    font-weight: 700;
  }
}

.google {
  .tm-widget {
    & > div:first-child {
      display: none !important;
    }
  }
}

@include media-breakpoint-only(xs) {
  .xs-word-break {
    word-break: break-all;
  }
}

.btn-gap {
  gap: 1rem;
  @include media-breakpoint-up(sm) {
    gap: 2rem;
  }
}

.navbar-toggler > .close {
  display: inline;
}

.navbar-toggler.collapsed > .close, .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none;
}

.btn-icon {
  vertical-align: text-top;
}
