@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

/*MARGINS*/
.row-margin {
  margin-top: $spacer * 1.5;
  margin-bottom: $spacer * 1.5;
}

$spacers-zetter: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers-zetter: map-merge(
                (
                        0: 0,
                        1: ($spacer * 1),
                        2: ($spacer * 2),
                        3: ($spacer * 3),
                        4: ($spacer * 4),
                        5: ($spacer * 5)
                ),
                $spacers-zetter
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers-zetter {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length;
        }
        .#{$abbrev}#{$infix}-t-#{$size},
        .#{$abbrev}#{$infix}-y-#{$size} {
          #{$prop}-top: $length;
        }
        .#{$abbrev}#{$infix}-r-#{$size},
        .#{$abbrev}#{$infix}-x-#{$size} {
          #{$prop}-right: $length;
        }
        .#{$abbrev}#{$infix}-b-#{$size},
        .#{$abbrev}#{$infix}-y-#{$size} {
          #{$prop}-bottom: $length;
        }
        .#{$abbrev}#{$infix}-l-#{$size},
        .#{$abbrev}#{$infix}-x-#{$size} {
          #{$prop}-left: $length;
        }
      }
    }
  }
}

/*MARGINS*/


/*BORDERS*/
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (border: b) {
      .#{$abbrev}#{$infix} {
        #{$prop}: 1px solid;
      }
      .#{$abbrev}#{$infix}-t,
      .#{$abbrev}#{$infix}-y {
        #{$prop}-top: 1px solid;
      }
      .#{$abbrev}#{$infix}-r,
      .#{$abbrev}#{$infix}-x {
        #{$prop}-right: 1px solid;
      }
      .#{$abbrev}#{$infix}-b,
      .#{$abbrev}#{$infix}-y {
        #{$prop}-bottom: 1px solid;
      }
      .#{$abbrev}#{$infix}-l,
      .#{$abbrev}#{$infix}-x {
        #{$prop}-left: 1px solid;
      }
    }
  }
}

@each $color, $value in $grays {
  .border-gray-#{$color} {
    border-color: $value !important;
  }
  .bg-gray-#{$color} {
    background-color: $value;
  }
}

/*BORDERS*/

//Line - Heigh
$lines-zetter: (
        'one-line': 1em,
        'two-lines': 2em,
        'three-lines': 3em,
        'four-lines': 4em
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $class, $size in $lines-zetter {
      .#{$class}#{$infix} {
        height: calc(#{$size} * #{$line-height-base});
        overflow: hidden;
      }
    }
  }
}


//TEXT & BG COLORS
@each $color, $value in $zetter-theme-colors {
  .txt-#{$color} {
    color: $value !important;
  }
  .bg-#{$color} {
    background-color: $value !important;
  }
  .btn-#{$color} {
    background-color: $value !important;
  }
}


//POSITIONING
// TODO: REFACTOR FOR BREAKPOINTS
.po-top-5 {
  top: 5rem;
}

.po-top-4 {
  top: 4rem;
}

.po-top-3 {
  top: 3rem;
}

.po-top-2 {
  top: 2rem;
}

.po-top-1 {
  top: 1rem;
}

.po-top {
  top: 0;
}

.po-bottom-5 {
  bottom: 5rem;
}

.po-bottom-4 {
  bottom: 4rem;
}

.po-bottom-3 {
  bottom: 3rem;
}

.po-bottom-2 {
  bottom: 2rem;
}

.po-bottom-1 {
  bottom: 1rem;
}

.po-bottom {
  bottom: 0;
}

.po-left-5 {
  left: 5rem;
}

.po-left-4 {
  left: 4rem;
}

.po-left-3 {
  left: 3rem;
}

.po-left-2 {
  left: 2rem;
}

.po-left-1 {
  left: 1rem;
}

.po-left {
  left: 0;
}

.po-right-5 {
  right: 5rem;
}

.po-right-4 {
  right: 4rem;
}

.po-right-3 {
  right: 3rem;
}

.po-right-2 {
  right: 2rem;
}

.po-right-1 {
  right: 1rem;
}

.po-right {
  right: 0;
}
.po-y-center{
  top:50%;
  transform: translateY(-50%);
}
.po-absolute {
  position: absolute;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .po#{$infix}-absolute {
      position: absolute;
    }
  }
}

//LIST GROUPS
$list-group-bg: transparent;
$list-group-disabled-bg: transparent;
$list-group-active-bg: transparent;
$list-group-hover-bg: transparent;
$list-group-border-width: 0;
$list-group-item-padding-y: 0;
$list-group-item-padding-x: 0;
$list-group-disabled-color: transparentize($white,0.5);
$list-group-color: $white;
$list-group-action-hover-color: $white;
$list-group-action-active-color:$white;
$list-group-action-active-bg:transparent;
