{% for post in posts %}
    <div class="col-xl-8 mt-5 post-entry-wrap" data-category='{{ post.category|slug|lower }}'>
        <div class="img-wrap">
            <a href="{{ path('blog_post_show',{'slug':post.slug}) }}">
                <img src="{{ asset(post.getImageUrl) }}" alt="" >
            </a>
        </div>
        <div class="category-wrap">
            <span class="pill-danger">{{ post.category }}</span>
        </div>
        <h2><a href="{{ path('blog_post_show',{'slug':post.slug}) }}">{{ post.title }}</a></h2>
        <div class="addthis_inline_share_toolbox" data-url="{{ url('blog_post_show',{'slug':post.slug}) }}"></div>
    </div>
{% endfor %}
{% if posts|length > 0 and number is defined %}
<div class="pagination">
    <a href="{{ path('blog_page_number',{'number':number}) }}" class="next">Next</a>
</div>
{% endif %}
