{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0  wrap-slider img-bg-light">
                <div class="slider-content js-slick slider-home-bottom" data-slick='{"autoplay":false,"autoplaySpeed": 2000,"dots":false,"arrows": false}'>
                    <div class="slide position-relative">
                        <div class=' cont-tex about'>
                            <h1 class='title fw-normal fs-small txt-dark'>
                                <strong>Bienvenido a nuestro Blog</strong>
                            </h1>
                            <p class="txt-dr">
                                Queremos dar nuestros pacientes y público en general sobre las alertas de nuestro cuerpo o cuando ya ha ocurrido una lesión, cuáles son las alternativas para recuperar su calidad de vida.
                            </p>
                        </div>

                        {% include 'elements/_picture.html.twig' with {
                            'mobileImage':  asset('build/images/blog/banner-m.png'),
                            'desktopImage':  asset('build/images/blog/bg-blog.png')
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-lg section-blog-wrap">
        <div class="row">
            <div class="col-24 text-center">
                <h3 class="gradient-title">INFORMACIÓN ESPECIALIZADA</h3>
                <h1>Blog de Traumatología y Ortopedia</h1>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-24 text-center categories-filter-wrap">
                {% for category in categories %}
                    {% apply spaceless %}
                        <button class="btn btn-filter" data-value="{{ category.title|slug|lower }}">
                            <span class="ico-wrap">
                                {% if category.icon is defined and not(category.icon is null) %}
                                <img src="{{ asset(category.getIconUrl) }}" alt="" class="img-fluid">
                                {% endif %}
                            </span>
                            <span class="txt-wrap">{{ category.title }}</span>
                        </button>
                    {% endapply %}
                {% endfor %}
            </div>
        </div>
        <div class="row blog-posts-wrap js-shuffle">
            {% include 'blog/_columns.html.twig' %}
            <div class="pagination">
                <a href="{{ path('blog_page_number',{'number':'1'}) }}" class="next">Next</a>
            </div>
        </div>

    </div>
{% endblock %}
