{% extends 'base.html.twig' %}

{% block title %}
    {{ blogPost.metaTitle }}
{% endblock %}
{% block metaKeywords %}
    {{ blogPost.keywords }}
{% endblock %}
{% block body %}
    <div class="container-lg section-blog-wrap">
        <div class="row">
            <div class="col-xl-24 single-post-wrap">
                <div class="img-wrap">
                    <img src="{{ asset(blogPost.getImageUrl) }}" alt="" class="img-fluid">
                </div>
                <div class="category-wrap">
                    <span class="pill-danger">{{ blogPost.category }}</span>
                </div>
                <h1>{{ blogPost.title }}</h1>

                <div class="post-content-wrap">
                    {{ blogPost.content|raw }}
                </div>
                {# COMMENTS #}
            </div>
        </div>
    </div>
{% endblock %}
