<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Traumatólogo Ortopedista | Dr. Sergio García | {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KPBBZMR');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Ads: 403097126 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-403097126"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'AW-403097126');
    </script>

    <script>
        gtag('event', 'conversion', {'send_to': 'AW-403097126/8PFICMrch7gCEKaMm8AB'});
    </script>

    {# SEO #}
    <meta name="description" content=": Traumatólogo Ortopedista, especializado en rodilla y cadera, actualizado en las más novedosas técnicas y tratamientos "/>
    <meta name="keywords" content=": traumatólogo ortopedista, traumatólogo, ortopedista, traumatologo ortopedista dr sergio garcia,{% block metaKeywords %}{% endblock %}"/>

    <meta name="robots" content="index,follow"/>

    {# Informacional #}
    <meta name="copyright" content="Traumatólogo Ortopedista">
    <meta name="language" content="ES">
    <meta name="revised" content="Sunday, february 8th, 2022, 3:33 pm"/>
    <meta name="abstract" content="">
    <meta name="topic" content="">
    <meta name="Classification" content="Health">
    <meta name="author" content="name, drgarciatenorio@gmail.com">
    <meta name="designer" content="">
    <meta name="copyright" content="">
    <meta name="reply-to" content=" drgarciatenorio@gmail.com ">

    {# Usabilidad #}
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="revisit-after" content="7 days"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}"/>
</head>
<body>
{% block gtmBody %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPBBZMR" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endblock %}
{% block header %}
    {% include 'layout/header.html.twig' %}
{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block whatsapp %}
    <a href="https://www.doctoralia.com.mx/sergio-garcia-tenorio/ortopedista-traumatologo/coyoacan" target="_blank" class="whatsapp">
        <img src="{{ asset('build/images/icons/Doctoralia.png') }}" alt="Doctoralia">
    </a>
{% endblock %}

{% block footer %}
    {% include 'layout/footer.html.twig' %}
{% endblock %}

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-621fa878dd5f6bf3"></script>
</body>
</html>
