{% extends 'base.html.twig' %}

{% block title %}Aviso de Privacidad{% endblock %}

{% block body %}
  <style media="screen">
    .container{padding: 5rem 15px;}
    p,li{font-size: 1.5rem;line-height:2rem;}
  </style>
  <div class="container pt-lg-5">
    <div class="row mt-lg-5 pt-lg-5">
      <div class="col-24 mt-lg-5 pt-lg-5">
        <h1 class="mb-4">Aviso de Privacidad</h1>

        <p>
          En este Aviso de Privacidad se explica nuestra política respecto de la recolección, uso, divulgación y transmisión de los datos de usuarios por parte de <b>“traumatologo-ortopedista.mx”</b>, La presente política se podrá modificar a medida que actualizamos y ampliamos nuestros servicios. Por lo tanto, se recomienda consultarla periódicamente. Si accede a nuestro sitio web o de otro modo utiliza nuestro servicio, significa que presta su consentimiento a nuestras prácticas sobre información.
        </p>
        <p>
          Importante: el presente Aviso de privacidad incluye hipervínculos a los que se puede acceder únicamente a través de nuestro sitio web, de modo que tendrá que visitar el sitio web para consultar los términos adicionales a los que se accede a través de los hipervínculos.
        </p>
        <p>
        La presente política se podrá modificar a medida que actualizamos y ampliamos nuestros servicios. Consulte regularmente si existe alguna actualización a esta política. Usted acuerda que su aceptación de los Términos de Uso y el Aviso de privacidad posterior a su consentimiento original, así como el uso del sitio web de <b>“traumatologo-ortopedista.mx”</b> o el uso continuo de nuestro servicio después de publicar un cambio a esta política implica que acepta dichos cambios y se obliga a respetarlos. Podrá acceder a la última versión de esta Aviso de privacidad visitando nuestro sitio web y haciendo clic en “Aviso de privacidad” al pie de las páginas del sitio web de <b>https://traumatologo-ortopedista.mx/</b>
        </p>
        <p>
          Para garantizar el correcto resguardo de sus datos personales y para dar pleno cumplimiento a las obligaciones que la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. establece en la materia, se le informa que “traumatologo-ortopedista.mx” tiene implementadas las medidas de seguridad administrativas, técnicas y físicas necesarias y suficientes para evitar su daño, pérdida, alteración, destrucción, uso, acceso o divulgación indebida.
        </p>
        <p>
          Los Datos Personales que han proporcionados serán conservados por un periodo de 1 año, excepto la que fiscalmente debe considerarse por 5 años, en medios físicos y electrónicos, y posteriormente descartados para evitar un tratamiento indebido de los mismos.
        </p>
        <p>
          En ningún caso <b>“traumatologo-ortopedista.mx”</b> transferirá los datos personales de sus clientes a un tercero, sin el consentimiento previo de los titulares
        </p>

        <h3 class="mt-5 mb-4">PROCEDIMIENTO PARA HACER VALER LOS DERECHOS ARCO</h3>
        <p>
          Usted tiene derecho de acceder a sus datos personales que poseemos y a los detalles del tratamiento de estos, así como a rectificarlos en caso de ser inexactos o incompletos; cancelarlos cuando considere que no se requieren para alguna de las finalidades señalados en el presente aviso de privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación contractual o de servicio, o bien, oponerse al tratamiento de los mismos para fines específicos.
        </p>
        <p>
          Los mecanismos que se han implementado para el ejercicio de dichos derechos, los cuales se conocen como derechos Arco mismos que se refieren a la rectificación, cancelación y oposición del Titular respecto al tratamiento de sus datos personales.
        </p>

        <ol>
          <li>El procedimiento inicia con la presentación de la solicitud respectiva a los derechos Arco, en el domicilio de nuestra Oficina de Privacidad, mismo que fue debidamente señalado al principio del presente aviso de privacidad.</li>
          <li>Su solicitud deberá contener la siguiente información: Nombre del titular de los datos personales. Domicilio o cualquier otro medio de contacto. Documentos que acrediten su personalidad e identidad. La descripción clara y precisa de los datos personales. Cualquier otro documento que facilite la localización de los datos.</li>
          <li>El plazo para atender su solicitud es de: 30 días hábiles.</li>
        </ol>
        <p>
          La última versión del presente Aviso de privacidad prevalecerá sobre todas las versiones anteriores.
        </p>
        <p>
          Fecha de última actualización: 23 de FEBRERO del 2021
        </p>
      </div>
    </div>
  </div>
{% endblock %}
