<p>Has recibido un nuevo mensaje desde tu sitio web:</p>
<h1>Nombre:</h1>
<h2>{{entity.name}}</h2>
<h1>Teléfono:</h1>
<h2>{{entity.phone}}</h2>
<h1>Correo:</h1>
<h2>{{entity.mail}}</h2>
<h1>Empresa/Lugar:</h1>
<h2>{{entity.company}}</h2>

<h1>Mensaje:</h1>
<h2>{{entity.message}}</h2>
