<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row bg-lun"></div>
        </div>
        <div class="container">
            <div class="row m-t-5">
                <div class="col-md-7">
                    <div class="footer-pad">
                        <img src="{{ asset('build/images/template/logo-white.svg') }}" class="img-fluid mb-4" alt=""/>
                        <div class="d-flex justify-content-center justify-content-md-start">
                            <a target="_blank" href="https://www.facebook.com/Traumatologia.DrGarcia/">
                                <img src="{{ asset('build/images/icons/facebook.svg') }}" class="img-fluid mr-3" alt="Facebook" title="Facebook"/>
                            </a>
                            <a target="_blank" href="https://wa.me/5215611319233">
                                <img src="{{ asset('build/images/icons/whatsapp.svg') }}" class="img-fluid mr-3" alt="Whatsapp" title="Whatsapp"/>
                            </a>
                            <a target="_blank" href="https://www.instagram.com/traumatologia.drgarcia/">
                                <img src="{{ asset('build/images/icons/instagram.svg') }}" class="img-fluid mr-3" alt="Instagram" title="Instagram"/>
                            </a>
                            <a target="_blank" href="https://www.doctoralia.com.mx/sergio-garcia-tenorio/ortopedista-traumatologo/coyoacan">
                                <img src="{{ asset('build/images/icons/doctoralia.svg') }}" class="img-fluid mr-3" alt="Doctoralia" title="Doctoralia"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-pad">
                        <h4>Servicios</h4>
                        <ul class="list-unstyled">
                            <li><a href="{{ path('service_ortopedia') }}">Traumatología y Ortopedia</a></li>
                            <li><a href="{{ path('service_cirugia') }}">Cirugía Articular</a></li>
                            <li><a href="{{ path('service_artroscopia') }}">Artroscopia</a></li>
                            <li><a href="{{ path('service_reemplazo') }}">Reemplazo Articular</a></li>
                            <li><a href="{{ path('service_lesiones') }}">Lesiones Deportivas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="footer-pad">
                        <div>
                            <p class="mb-4">
                                <a href="https://goo.gl/maps/jc57acrDtTKm65FK8" target="_blank" class="">
                                    HMG Hospital Coyoacán, Av. División del Nte. 3395, El Rosario, Consultorio 521
                                </a>
                            </p>
                            <div class="d-flex justify-content-center justify-content-sm-start">
                                <a class="d-flex justify-content-center justify-content-md-start mb-4" href="tel:5594619636">
                                    <img src="{{ asset('build/images/icons/phone-white.svg') }}" class="img-fluid mr-3" alt="Llamar" title="Llamar"/>
                                    <span class="txt-sm text-white">55 9461-9636</span>
                                </a>
                            </div>
                            <p class="mb-4">
                                <a href="https://goo.gl/maps/qEKbpCFjencVcJU88" target="_blank">Hospital Ángeles Universidad, Módulo 4030,
                                        Av. Universidad #1080, Xoco, Benito Juárez, CDMX.</a>
                            </p>
                            <div class="d-flex justify-content-center justify-content-sm-start">
                                <a class="d-flex justify-content-center justify-content-md-start mb-4" href="tel:5556013716">
                                    <img src="{{ asset('build/images/icons/phone-white.svg') }}" class="img-fluid mr-3" alt="Llamar" title="Llamar"/>
                                    <span class="txt-sm text-white">55 5601-3716</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-pad">
                        <h4>Legales</h4>
                        <ul class="list-unstyled">
                            <li><a href="{{ path('privacy') }}">Políticas de Privacidad</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-24 text-center mt-5">
                    <p>© {{ 'now' | date('Y') }} Dr. Sergio García Tenorio | Derechos reservados</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{{ render(controller('App\\Controller\\CitasController::index')) }}
