<div class="container-max">
    <nav class="navbar navbar-light navbar-expand-lg p-lg-4 wrap-menu home">
        <a class="navbar-brand" href="{{ path('home') }}">
            <picture>
                <source srcset="{{ asset('build/images/template/logo-dark.svg') }}" media="(min-width: 992px)"/>
                <img class="img-fluid" src="{{ asset('build/images/template/logo-icon.svg') }}"/>
            </picture>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="my-1 mx-2 close">
                <img src="{{ asset('build/images/icons/x.png') }}" alt="">
            </span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if app.request.get('_route') == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('home') }}">Inicio</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'about' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('about') }}">Sobre mi</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'ailing' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('ailing') }}">Padecimientos</a>
                </li>
                <li class="nav-item dropdown {% if app.request.get('_route') starts with 'service' %}active{% endif %}">
                    <a class="nav-link dropdown-toggle js-toggle-mobile" href="{{ path('service') }}">
                        Especialidades
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item {% if app.request.get('_route') starts with 'service_ortopedia' %}active{% endif %}" href="{{ path('service_ortopedia') }}">Traumatología y Ortopedia</a>
                        <a class="dropdown-item {% if app.request.get('_route') starts with 'service_cirugia' %}active{% endif %}" href="{{ path('service_cirugia') }}">Cirugía Articular</a>
                        <a class="dropdown-item {% if app.request.get('_route') starts with 'service_artroscopia' %}active{% endif %}" href="{{ path('service_artroscopia') }}">Artroscopia</a>
                        <a class="dropdown-item {% if app.request.get('_route') starts with 'service_reemplazo' %}active{% endif %}" href="{{ path('service_reemplazo') }}">Reemplazo Articular</a>
                        <a class="dropdown-item {% if app.request.get('_route') starts with 'service_lesiones' %}active{% endif %}" href="{{ path('service_lesiones') }}">Lesiones Deportivas</a>
                    </div>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'testimonials' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('testimonials') }}">Que dicen de mi</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('blog') }}">Blog</a>
                </li>
            </ul>
            <a href="{{ path('contact') }}" class='btn btn-primary mt-3 mt-lg-0 d-block d-lg-inline'>
                Contacto
            </a>
        </div>
    </nav>
</div>
